[2019-04-18 00:18] cjh1 opened #22 "Out of memory/leak when using StreamReader::iterator"
The following quickly exhaust all available memory. Not sure if its a leak or we are just loading to much into memory.
[code]

[2019-04-18 11:29] psavery commented on #22
I first tried this on my laptop (which has an SSD), first with OpenMP and then with CUDA.

With OpenMP, I actually didn't run out of memory. It just keep going and was able to process the data and finish the run (I tried it around 8 times). It would usually stall around ~ 2GB of memory usage during the run.

With CUDA, I ran out of memory.

For the HDD on ulex, I was also able to run OpenMP fine,

[2019-04-18 12:14] cjh1 commented on #22
@psavery Thank you for this detail report. To give you some more background, I experienced this out of memory situation when run on a node on cori, trying to process 164 files. In this situation I would still expect the process to be IO bound so was surprised to see this ( this is with OpenMP ). I then tried to reproduce the problem on my machine and was able to drive the memory usage to a point w

[2019-05-14 12:45] cjh1 opened #39 "Allow the center of annular mask to be specified"
This would be optional, default to the center. The idea is that is would be able to be provided on [this call](https://github.com/OpenChemistry/stempy/blob/master/python/stempy/image/__init__.py#L5).

[2019-05-14 12:50] cjh1 opened #40 "Allow operations such as create_stem_image to be applied to electron counted data"
The approach for now will be to expand the data to the full size and use our current algorithms.

[2019-05-14 12:51] cjh1 opened #41 "Create pipeline interface"
Define a simple interface for the creation of operators and building pipelines.

[2019-05-14 12:57] cjh1 opened #42 "Implement CLI to run on cori to connect to frontend"
We current have an implementation in C++ ( that pushes the bright and dark field images to the client ). We need more bi-directional communication so that we can initiate the creation of a STEM image from the client side, include specifying the mask. I propose we create a small CLI in python, rather than having to implement this all in C++.

[2019-05-15 17:44] #39 closed

[2019-05-16 14:12] #40 closed

[2019-05-27 14:55] cjh1 opened #54 "Think about combining some parameters into tuples"
Such as center_x, center_y and width and height ...

[2019-05-27 15:05] psavery commented on #54
What about a named tuple (and possibly a C++ struct) to access them by name?

[2019-05-27 15:05] cjh1 commented on #54
or std::pair on the C++ side

[2019-06-21 00:50] cjh1 commented on #42
Fixed by OpenChemistry/stemserver#33

[2019-06-21 13:47] cjh1 opened #60 "Add support for processing data held in numpy array ( create from python )"
We currently have a reader that can read *.dat files in C++ and then provide a numpy view of the data. All our processing functions operate on this `Block` structure. We need to be able to process data from other source ( such as out HDF5 files ). Probably the simplest was to do this would be to support numpy arrays ( created in python ), we can then still use h5py for the reading. Ideally we woul

[2019-06-21 20:36] wangzhezhe commented on #60
I think this could be implemented by two steps:
(1) Implementing the MemoryReader class which load image data from memory at cpp end
(2) Implementing the hdf5 python reader which send the numpy data to MemoryReader @cjh1

[2019-06-22 12:59] psavery commented on #60
I'll leave a personal thought here that, whether the `Block` and `StreamReader` classes are re-used or not, I think it is very valuable to be able to read the data in chunks. Reading in chunks allows us to have one thread read in the data, while other threads process the data, so that processing and I/O can occur at the same time.

It also allows us to avoid reading in the whole dataset at once, w

[2019-06-24 16:08] cryos commented on #60
Yes, it is very important for us to be able to avoid reading in the entire data set. It would also be nice to be able to use Python to read in some of those chunks, so maybe we need to improve our Python interface to support implementing a stream reader in Python.

I think we still want a view into a NumPy array, but those arrays would be reading in chunks. We then need to communicate when the nex

[2019-06-24 19:16] wangzhezhe commented on #60
Maybe I could try to implement a StreamReader based on hdf5 at python end, then we could consider how to make it compatible with the current code at cpp end. @cryos

[2019-06-24 19:20] cryos commented on #60
Yes, if you develop some Python code to read blocks of images from the HDF5 format, then we can look at how we can call it when we want to load the next block of images. Make the number of images per block something that we can set.

[2019-06-26 21:26] psavery commented on #22
I'm going to close this for now. Let's re-open it if it becomes an issue again in the future.

[2019-06-26 21:26] #22 closed

[2019-06-26 21:26] #42 closed

[2019-07-10 18:54] wangzhezhe commented on #60
please check this pull request https://github.com/OpenChemistry/stempy/pull/73

[2019-07-12 18:43] ercius opened #74 "non square stem scans"
stempy does not work with 4D Camera data which is not square. Please check the data in .../ncemhub/4Dcamera/2019.07.11/data_scan73*.data

This data should be 65 x 512, but stempy shows weird output:
![image](https://user-images.githubusercontent.com/15657108/61151147-1114b780-a49a-11e9-8a0f-65799e7fa7bc.png)

Manually analyzing the data gives this output:
![image](https://user-images.githubusercon

[2019-07-12 18:45] cjh1 commented on #74
@ercius If you could send me the notebook, that would be great, thanks.

[2019-07-15 22:37] ercius opened #76 "electron_count improvements"
1. The value for the background_threshold_n_sigma and x_ray_ variables in:
```stempy.image.electron_count```
only accept integers. This should accept float values as well.

2. Please provide options for verbose output. It would be very nice to know the parameters of the gaussian fit used to determine the sigma value. center, sigma, and maximum.

3. width/height and frame_width/frame_height should

[2019-07-15 23:05] ercius opened #77 "create_stem_image_sparse"
```create_stem_image_sparse``` does not seem to be working as expected. Half of the image is not the correct intensity compared to a non-counted STEM image.
![image](https://user-images.githubusercontent.com/15657108/61254577-cf923f80-a719-11e9-99c9-38836ec2cbe8.png)

Im not sure if this is due to counting or the STEM image creation.

I copied the notebook to ...../ncemhub/cjh1 on Cori.

[2019-07-16 15:35] cjh1 commented on #76
For 3. we do determine the width and height from the reader in the `electron_count(...)`, those parameters are optional. I assume we are talking about `create_stem_images_sparse(...)` in which case we require those parameters as we are passing in the sparse dataset with doesn't have this information. We can look at attaching it in some way to make those parameters options.

[2019-07-16 15:38] cjh1 commented on #77
This is an odd one, there seems to be values in the bottom half of the image, just very low intensity and clearly wrong!

[2019-07-16 21:46] ercius commented on #74
This is fixed in the stempy kernel on Cori, but it is not fixed for the stem.tomviz.org server. Can you update that server to use the more recent version of stempy?

[2019-07-17 01:23] ercius commented on #77
Very strange. I think this only happens for the sparse version. I'm pretty
sure the other version which operates on the full data works as expected.

On Tue, Jul 16, 2019, 8:38 AM Chris Harris <notifications@github.com> wrote:

[2019-07-17 01:25] ercius commented on #76
Yes. That was what I wanted. The sparse data output should retain the
metadata.

On Tue, Jul 16, 2019, 8:35 AM Chris Harris <notifications@github.com> wrote:

[2019-07-17 12:54] cjh1 commented on #74
@ercius Certainly, will do that today.

[2019-07-17 14:40] cjh1 commented on #74
@ercius The stem.tomviz.org worker is now updated.

[2019-07-17 22:10] ercius commented on #77
Maybe this is related to the initial issue, but this function is also slower than I expect. I wrote a quick version in python and it took about 7 seconds to calculate the STEM images. This takes about a minute for the same data. Something to look into.

[2019-07-18 12:28] cjh1 commented on #77
@ercius Thank, that is another good data point. Definitely shouldn't that slow.

[2019-07-18 19:24] ercius commented on #74
works! Thanks!

[2019-07-18 19:24] #74 closed

[2019-07-18 19:31] ercius opened #79 "reader seg faults"
There have been two times when seg faults happen during raw data reading and analysis. We should avoid seg faults for bad data and user errors.

1. When a 4D Camera file is not written fully. Examples of this are in ncemhub/2019.07.16/. Ive had to rename several files to get stempy to analyze data. Bad files might exist for various reasons such as canceling the scan or HDD filling up. Currently, b

[2019-07-18 20:03] cjh1 commented on #79
Absolutely! We should look guarding against these two.

[2019-07-18 20:07] cjh1 commented on #77
@ercius I finally got the bottom of this, and unsigned integer wrap, can way it should be fixed by #80 and I have already push images to cori for you to test.

[2019-07-18 20:44] cjh1 commented on #79
For 1.Was the a particular scan to try with?

[2019-07-18 20:54] cjh1 commented on #76
Note for future implementer. I think for 3. we should change the return type of [electronCount](https://github.com/OpenChemistry/stempy/blob/master/stempy/electron.h#L9) to be a small structure containing the `vector`, we can then add the scan and frame dimensions to the structure. We will then need add the appropriate buffer protocol definition so the the new structure can still be used as a nump

[2019-07-19 20:34] ercius commented on #79
For 1 try this:
[code]

[2019-07-19 23:10] ercius commented on #77
Nice. It works great. Thanks!

[2019-07-19 23:10] #77 closed

[2019-07-31 19:00] cjh1 opened #84 "Look a providing unified overloaded create_stem_images(...) call"
Rather than have `create_stem_images(...)` and `create_stem_image_sparse(...)` have a single implementation that can take either data type.

[2019-08-01 13:49] cjh1 commented on #79
@ercius I tried to recreate 1. I am seeing a EOF error rather than a segfault, which is kinda what I would expect. May be you could point me at the notebook?

[2019-08-01 16:01] cjh1 commented on #76
@ercius I have just updated the images on cori that resolves 1 and 3. Note that `electron_count(...)` now returns an object that has a property called `data` which is the numpy array, as well as properties for the various dimensions. This object can be passed directly to `create_stem_images_sparse(...)`, removing the need to pass in all the dimensions.

[2019-08-01 16:32] ercius commented on #79
@cjh1 Look like this can not be reproduced now. I just tested this and also see a EOF error raised:
```ValueError: Unexpected EOF while processing stream.```

Let's call it fixed! Nice work :)

[2019-08-01 17:04] cjh1 commented on #79
OK, let me know if it crops up again :smile:

[2019-08-03 23:37] ercius commented on #76
@cjh1 That is great! It makes the processing much easier. Thanks a lot.

[2019-08-04 00:42] ercius opened #86 "question: using multiple nodes"
I have been using stempy from a notebook through Jupyter on NERSC (runs on login nodes). Is there a way to run this using multiple batch nodes? Im not expecting to use a notebook. An example of a py file and job script for electron counting a data set would be very useful.

[2019-08-04 00:44] ercius commented on #86
Actually, the examples directory has some scripts. But Im not sure how to use one of these with a job submission script.

[2019-08-05 16:22] cjh1 commented on #86
@ercius We can provide an example for creating a STEM image on multiple nodes, as this is a process that can be easily partition cross nodes. However, the current electron counting algorithm requires more knowledge across the entire set data, for example when calculating the thresholds. So some work would be needed to either calculate these on each node or communicate them from rank zero. I can ta

[2019-08-05 17:37] #76 closed

[2019-08-05 17:38] ercius commented on #86
Good point regarding the counting in the hardware. If it looks like a lot
of work then we can ignore this request. However, it might be some time
before we push this to hardware, so it could still be with implementing.

On Mon, Aug 5, 2019, 9:22 AM Chris Harris <notifications@github.com> wrote:

[2019-08-08 19:18] cjh1 commented on #86
@ercius I have added a simple example CLI script that will generate stem images across multiple nodes. It is basically the code we are using to do the interactive pipelines on stem.tomviz.org. Here is an example invocation ( this would be in your batch submission script ).

[code]
This should work as is, although cori is having IO issues so performance may ( and does ) vary!

You can of course use

[2019-08-09 21:51] ercius opened #91 "electron count number_of_samples"
The number_of_samples keyword for image.electron_count() does not affect the verbose output. The calculation takes longer, but the values output are identical.

Not sure if this is an issue with output or the actual calculation.

Here is output with 4 samples:
****Statistics for calculating electron thresholds****
number of samples: 4
min sample: -10
max sample: 180
mean: 0.37965675636574076
varia

[2019-08-12 20:49] cjh1 commented on #91
@ercius I tried this locally and it seems to work, as in the mean etc changes. Could you point me to the dataset you are using or even better the notebook?

[2019-10-08 19:42] cjh1 commented on #86
@ercius We have added another CLI script that will do the electron counting across multiple nodes. Here is a example submission script:
[code]
You would submit this with the following invocation:

[code]
This will write out an HDF5 file (`electron_counted_data.h5`) containing the electron counts. The structure is described [here.](https://github.com/OpenChemistry/stempy/blob/master/docs/StempyH5Fo

[2019-12-12 20:16] cjh1 opened #100 "Add parallel HDF5 build to docker image"

[2019-12-16 19:01] ercius opened #102 "create_stem_image_sparse radii as list"
create_stem_image_sparse only take a single inner_ and outer_radii. Can it take a list or tuple to craete multiple STEM images at once. Similar to create_stem_image

[code]

The error seems to imply that the function takes a list, however it does not work.

[2019-12-16 19:09] cjh1 commented on #102
@ercius Try `create_stem_images_sparse(...)`, note the `images`. We can also add logic to `create_stem_image_sparse(...)` to redirect to the right function if called with a list ...

[2019-12-16 22:31] ercius commented on #102
Got it. Thanks!

On Mon, Dec 16, 2019, 11:09 AM Chris Harris <notifications@github.com>
wrote:

[2019-12-21 00:19] ercius opened #103 "h5 files written as 3D data sets"
The new header4D Camera version4 datasets (in sector format) need to be recombined into full images in an H5 file. This file is a 3D dataset rather than a 4D dataset. Can this be changed to make analysis easier?

Here is the code to take raw output files from the camera an make them into H5 files.
[code]

[2019-12-23 13:19] cjh1 commented on #103
You want the scan shape as the first dimension? I think the reason we separated it out in the current format is so that the scan positions could be looked up independently in another data set ( scan_positions ), I think we where thinking about the possibility that format could support part of a scan. However, we can certainly look a changing this for this use case.

[2020-01-08 01:05] ercius opened #104 "building stempy with sector reader"
I just wanted to leave a couple of quick comments about building stempy on an Ubuntu 18.04 machine.

I followed the script [here](https://github.com/OpenChemistry/stempy/blob/master/docker/Dockerfile) but had to make some modifications. These might not be all of the needed modifications as I was not keeping track as I solved issues.

1) I needed to switch the to the sector-reader branch to get io.

[2020-01-08 14:02] cjh1 commented on #104
For step 2. git clone --recursive would do the trick ...

[2020-01-12 16:42] ercius opened #105 "variance estimation in electron.cpp"
In electronthresholds.cpp there is a function called [`calculateVariance()`.](https://github.com/OpenChemistry/stempy/blob/4a84fb4903bfaf4b43211beb48428f294fd66e65/stempy/electronthresholds.cpp#L16) I believe this function is incorrect. It is written as:
v = values
n = number samples
mean = mean(values)
[code]

It should be
[code]

[2020-01-12 18:24] ercius commented on #104
The path is actually:
/home/username/.local/lib/python3.6/site-packages/stempy/.

[2020-01-12 19:03] ercius commented on #105
Correction:

sigma_squared = (1 / (n-1)) * sum( (v_i - mean)^2 )
sigma = sqrt(sigma_squared)
return sigma

The variance is equal to sigma^2. So [calculateVariance](https://github.com/OpenChemistry/stempy/blob/4a84fb4903bfaf4b43211beb48428f294fd66e65/stempy/electronthresholds.cpp#L16) should return sigma^2. Line 90 in `electronthresholds.cpp` is `auto stdDev = sqrt(variance);`

So function logic sh

[2020-01-13 15:26] cjh1 commented on #105
I will take a look at this, I pretty sure the background threshold is not a reporting problem, when I ran it I got a different value, but running it again gave another large negative value, looks like an issue with the fitting. What should be the ball park values for background threshold and x-ray threshold?

[2020-01-13 17:25] cjh1 commented on #105
yep, looks like the optimizer is bailing before, we even get close to a fit.

[2020-01-13 21:48] cjh1 commented on #105
The optimizer we are using has had a few updates, I will move to the new version and find out why we are getting a good fit.

[2020-01-14 01:23] ercius commented on #105
The background should be about 25 to 30 counts. The x-ray should probably be higher than 10 sigma, It likely can be ignored for now.

Thanks for looking into it! Optimizing the histogram might also help with this fitting as well. The estimation of the variance will be biased to higher values due to the electron counts. I got an optimized gaussian sigma of about 2.0 whereas the estimation method ga

[2020-01-14 20:58] cjh1 commented on #105
@ercius So I think I have resolved these issues. In the end I switch to Eigen's optimizer which seems to perform better ( as in it converges! ). I also added the optimized values to the verbose output for better debugging. Here is the output for scan59:

[code]

I have pushed the changes to the branch we have been working on. I also fixed an out of memory issue. Note: That when I tried to optimize

[2020-01-14 20:59] cjh1 commented on #105
@ercius Also thank you for all your help tracking down these issues!

[2020-01-15 19:40] ercius commented on #105
@cjh1 Happy to help!

Anything around 2.0 is correct for this sample. The value you report above (2.019) is very close to the value I got using scipy.optimize.curvefit() offline for this dataset.

I think there are still issues with this though. In some cases I still get a threshold value which is not correct. The verbose output is correctly reporting the values. It seems that the mean of the fit

[2020-01-15 19:49] cjh1 commented on #105
@ercius For 1. The code is now print out the estimated mean and the optimized mean. See [here](https://github.com/OpenChemistry/stempy/blob/sector-reader/stempy/electronthresholds.cpp#L169-L178), may be I am misunderstand what you are saying? I will fix 2.

[2020-01-15 20:38] cjh1 commented on #105
I have pushed a change for 2.

[2020-01-15 21:50] ercius opened #106 "width vs height vs x vs y vs..."
For non-square scans Im getting confused as to which order to put the scan values in.

We should think about how to unify the inputs and outputs to all functions in terms of which axis is desired when variables like height and width are used as well as variable names with x and y.

Personally, I prefer to use tuples for these kinds of inputs and outputs. For example, if you have a 4D array of shap

[2020-01-15 21:55] ercius commented on #105
This printout is good. Then you can see the estimated std dev and the optimized std dev.

Great. Ill rebuild and see if that works better on the data Im using to test.

[2020-01-15 21:55] cjh1 commented on #105
I think the reason you are not seeing the optimized mean is you need to update the Python side as well. 'pip install -U -e .' in the repo directory should do it. The '-e' option symlinks the files so in the future, changes in the repo will be reflected in the Python environment.

[2020-01-15 22:27] ercius commented on #105
Ah...that might be it. Ill use -e and then I can also test changes I make to the code more easily.

Eventually, Ill track that branch and can start doing pull requests :)

[2020-01-16 14:51] cjh1 commented on #106
@ercius I agree this is an area of much confusion! Even writing this, I had to check the code! I think spending some time to clear this up is a good idea. Yes, currently x,y == width, height == columns, rows, if there is a more familiar convention we can switch to it?

[2020-01-16 14:52] cjh1 commented on #105
Pull requests always welcome :-)

[2020-01-16 15:01] cjh1 commented on #105
I am also going to try a get that sector-reader branch merged by the end of the week.

[2020-01-16 15:05] cjh1 commented on #106
As part of this adding doc strings to function would also help.

[2020-01-16 16:04] cryos commented on #106
Major thing would probably be more explicitly documenting. I would expect all pairs to be x, y and width, height. Using tuples seems like a reasonably approach, writing x = 10, y = 5 could help too, then you can be very explicit about them in Python at least.

[2020-01-16 18:08] cjh1 commented on #105
I have now merged that branch.

[2020-01-16 18:15] cjh1 opened #107 "Add doc strings to all public python functions"
and setup readthedocs ...

[2020-01-16 18:29] cjh1 commented on #106
@cryos your right using named parameters is another option, which prevent getting things out of order. I was trying to look for prior art in the numpy world, I guess the most basic example is the construction of an n-d array, where the dimensions are passed as a tuple.

[2020-01-16 21:08] cjh1 commented on #60
This is now resolved

[2020-01-16 21:08] #60 closed

[2020-01-16 21:09] cjh1 commented on #106
Look like this is related #54 ( we have thought about this before :-) )

[2020-01-16 21:09] cjh1 commented on #79
Calling this fixed

[2020-01-16 21:09] #79 closed

[2020-01-16 21:10] cjh1 commented on #102
I think this is now resolved

[2020-01-16 21:10] #102 closed

[2020-01-16 21:11] cjh1 commented on #103
This is now supported in master, by specifying the `format` named parameter.

[2020-01-16 21:11] #103 closed

[2020-01-17 03:29] ercius commented on #106
Haha. I guess that was a good idea even back then!

On Thu, Jan 16, 2020, 1:09 PM Chris Harris <notifications@github.com> wrote:

[2020-01-17 14:44] cjh1 opened #108 "Clean up x, y vs row, col vs width, height in C++ code"
While we are doing #106, I would like to do a similar pass through the C++ code. I can see at least one place where there may be a discrepancy:

https://github.com/OpenChemistry/stempy/blob/master/stempy/image.h#L53

[2020-01-17 15:07] cjh1 commented on #108
I think we should use `std::pair` to represent dimensions and x, y coordinates ( I think then pybind11 will take care of the convertions for us). We can create a few type definitions for example:

`using Dimensions = std::pair<int, int>; // width, height`
`using Coordinates = std::pair<int, int>;

or alternatively we could create a new simple `struct`'s, but I'm not sure how we would get pybind11

[2020-01-17 15:08] cjh1 commented on #106
Yep, I think we should go with the tuple approach.

[2020-01-17 15:11] cjh1 commented on #107
I think we should use sphinx here for its ability to generate documentation from doc strings. I would like to use mkdocs, but it doesn't have great support for API documentation.

Here is the getting started guide for sphink: https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html

[2020-01-17 15:42] alesgenova commented on #108
Unless I'm getting confused, I think the convention in numpy is the following though:

[code]

[2020-01-17 16:00] cjh1 commented on #108
@alesgenova This is true but I guess in general when talking about images or 2d graphic x is the width and y is the height ...

[2020-01-17 17:09] cjh1 commented on #106
I want to make sure we get this right, so thought some diagrams might help clarify things (@ercius I think the x and y for the parameters are in fact reversed, they don't match the order in the data? ) If we are looking at a scan or frame the coordinate it looks like the following.

(0,0)                    x
    + ------------------------------------ >
    |
    |
y  |
    |
    |
   +

And this

[2020-01-20 15:05] cjh1 commented on #107
I think we can still use MarkDown with sphinx.

[2020-01-20 20:59] ercius commented on #106
@psavery That is a mistake. I see how that can be confusing.

@cjh1 Your plotting of the scan directions is correct. The origin is in the upper left and the x, horizontal direction is the "fast scan" direction for a STEM image. The beam looks to the user like it scan from left to right and top to bottom. We want the STEM images to match the simultaneously captured images from the microscope detect

[2020-01-20 21:07] cjh1 commented on #106
@ercius Thanks for the confirmation. @psavery has started to work on this using the tuple approach. Absolutely if you point us at a non-square scan that would be a good test case. We are also going to document the python functions and spell out our conventions, which will go along way to avoided confusion.

[2020-01-20 22:26] ercius commented on #107
I use sphinx on ncempy. The auto api documentation generation is very
useful. It can be difficult to get up and running though and I think I
still am not doing it right.

On Mon, Jan 20, 2020 at 7:26 AM Marcus D. Hanwell <notifications@github.com>
wrote:

[2020-01-22 15:59] psavery commented on #108
@cjh1 For that example you mentioned [here](https://github.com/OpenChemistry/stempy/blob/master/stempy/image.h#L53), it looks like those two variables are mistakenly labeled `rows` and `columns` in the header file, when in the CPP file and in all of the use cases of it (in python included), they are treated as `width` and `height`. So it looks to me that it is just a labeling problem in the header

[2020-01-22 16:01] psavery commented on #108
However, I did end up switching [these two variables](https://github.com/OpenChemistry/stempy/pull/109/files#diff-5afbef7ae6ecfa409c949d37ebfd1e93R90) in #109, as they seemed out of order. We'll probably need to do some tests on some non-square data to confirm.

[2020-01-22 18:38] ercius commented on #108
@psavery @cjh1 I added an example data set which is non-square and small (11GB). See `ncemhub/4Dcamera/2020.01.13/data_scan137*.data`. You can count this in a few seconds (background_threshold_n_sigma = 4; background_threshold = 28.62) and create stem images very quickly too. If you get the scan width and height incorrect it's obvious to see the mistake in a stem image. The original data was acqui

[2020-01-22 18:51] psavery commented on #108
The swapped width and height might be potentially fixed by [this change](https://github.com/OpenChemistry/stempy/pull/109/files#diff-5afbef7ae6ecfa409c949d37ebfd1e93R90) that is part of #109 (the width and height were swapped there). But we should test it out to be sure.

[2020-01-22 18:52] cjh1 commented on #108
Thanks @erius, we will test this out. @psavery I will download the dataset so I can give you access to try it out.

[2020-01-27 17:52] psavery commented on #108
Unfortunately, my changes don't appear to have fixed that problem.

@ercius We read in the data as a 1D array and keep it in a one-dimensional form for most of the operations. Unless I'm mistaken, it looks like the only place where the scan dimension order is used (and actually matters) is when pybind11 converts it to a numpy array [here](https://github.com/OpenChemistry/stempy/blob/4b99578befea22

[2020-01-29 15:55] psavery commented on #108
@ercius Nevermind. I think we figured it out. Two positions were swapped in our header reader...

[2020-01-29 16:10] ercius commented on #108
@psavery Great! Let me know when everything is pulled into master so I can update our analysis PC?

[2020-01-29 16:35] cjh1 commented on #108
@ercius We will try to get this merged today.

[2020-01-29 17:10] psavery commented on #108
@ercius The changes are not quite merged yet, but here is what a stem image generated from the raw data with scan dimensions (129, 128) looks like:
![129_128_stem_image](https://user-images.githubusercontent.com/9558430/73379136-ba34cb00-428f-11ea-95d4-9894146ca57a.png)

Same thing except generated from sparse data:
![129_128_sparse_stem_image](https://user-images.githubusercontent.com/9558430/733

[2020-01-29 18:35] psavery commented on #107
As a side note here, I used a [markdown to rst converter](https://pypi.org/project/m2r/) for one file we had already written in markdown, and it worked very well!

[2020-01-29 18:40] #54 closed

[2020-01-29 18:40] #106 closed

[2020-01-29 18:40] #107 closed

[2020-01-29 18:40] #108 closed

[2020-01-29 18:45] psavery opened #111 "Strange STEM Images from PyReader"
The HDF5-reading PyReader seems to be producing strange STEM images for our test dataset, which are probably not correct. I am not sure whether the issue is in our saving of the raw data to the HDF5 file, or if it is in the PyReader itself.

STEM Images from PyReader
=======================

0 - 288 radii:
![image](https://user-images.githubusercontent.com/9558430/73386399-c70beb80-429c-11ea-9eaa-

[2020-01-29 18:50] cjh1 commented on #108
@ercius All merges, let us know if you run into any issues. I am rebuild the shifter image on cori as well ( should be done in a couple of minutes ).

[2020-01-31 17:31] ercius commented on #111
what code did you run to produce your images? Those look very strange

[2020-01-31 17:41] psavery commented on #111
@ercius It is using [this file](https://github.com/OpenChemistry/stempy/blob/master/examples/hdf5Reader/reader_hdf5.py). The HDF5 file it is running on is about 16 GB in size (it contains the raw data).

[2020-01-31 20:01] psavery opened #116 "Read the Docs is not automatically building"
For some reason, we have to manually trigger builds in order to re-build the documentation. I am not sure why it isn't automatically re-building when a PR is merged.

[2020-01-31 20:02] ercius commented on #108
stempy is not working with the current master. I get an error for electron_count when I pass in a sector reader and a np.zeros((576,576)) as the dark. Its says that the inputs are incorrect:
`stim.electron_count(reader,np.zeros((576,576)))`

Here is the error:
[code]

[2020-01-31 20:09] cjh1 commented on #108
@ercius @psavery Is taking a look at this.

[2020-01-31 20:11] cjh1 commented on #108
@psavery I am guessing that one of the template instantiations is missing?

[2020-01-31 20:21] psavery commented on #108
@ercius I haven't been able to reproduce it so far. I'm calling it like this:

[code]

Are you passing `io.FileVersion.VERSION4` to the reader?

[2020-01-31 20:23] psavery commented on #108
Or maybe you can make sure you did a `pip install -e .`, to ensure that the python is up-to-date?

[2020-01-31 20:25] cjh1 commented on #108
It would actually be `pip install -U -e .`

[2020-01-31 20:53] ercius commented on #108
The issue with pip was the first thing I tried. I just tried it again and I got a slightly different version number. In my history for pip install I see `stempy==0.1.dev349`. After running it again I see `stempy==0.1.dev404'. Im not sure whats going on. Its probably an install issue. Ill look into it a little more. Thanks for the rapid response!

[2020-01-31 20:57] ercius commented on #108
Also, I am using a reader with FileVersion.VERSION4.

Here is the full error. I noticed I did not copy the top. Its lines 287-289 where the issue is:
[code]

[2020-01-31 21:00] cjh1 commented on #108
@ercius Its definitly a python code miss match. 287 does point to that line on master. What does `git log` give you?

[2020-01-31 21:02] ercius commented on #108
I just did another git pull and I got some new code. Ill test that.

[2020-01-31 21:05] ercius commented on #108
Still no good. But now the error points to 290:
[code]
commit ff328264cdbf767c0411d1f2085a9536d03e783a (HEAD -> master, origin/master, origin/HEAD)
Merge: 4e64bc4 3da759e
Author: Patrick Avery <patrick.avery@kitware.com>
Date:   Fri Jan 31 14:40:37 2020 -0500

    Merge pull request #115 from OpenChemistry/named-tuple-descriptions

    Add descriptions for our named tuples

commit 3da759e7b0aa54b4

[2020-01-31 21:16] cjh1 commented on #108
Ok, Lets revert to our know working state:

`git checkout 73bd78c13b005dcca6f4fc1df4786c857435cd81`

[2020-01-31 21:17] cjh1 commented on #108
You also copied over the new `.so`'s? After you built?

[2020-01-31 21:18] ercius commented on #108
I went deeper to use _image.electron_count() and that works:
[code]
This worked. So there is just an issue with type checking somewhere in the python code.

[2020-01-31 21:19] ercius commented on #108
Ill double check this and make sure its correct.

Then Ill pull the old state. That will at least get me back to a working state.

[2020-01-31 21:31] ercius commented on #108
ok...it looks good now. I think its fixed.

I had to really start from scratch. The initial pull did not update fully to the newest stempy on master. I did another pull and that eventually got me fully updated.

Then I had to re-run the build and cp the *.so properly. Then I had to pip install -U -e to get the python working.

So, I think we are all good. Not sure why `git pull` did not work the f

[2020-01-31 21:33] cjh1 commented on #108
No problem, I am going to come up with some instructions for run things inside a container ( singularity ), so you don't have to build anything and we can avoid problems in the future. Glad you are up and running!

[2020-02-02 12:29] ercius commented on #105
This is working correctly in the matter branch now. Closing.

[2020-02-02 12:29] #105 closed

[2020-02-07 18:35] ercius opened #119 "get scan information from reader"
When I do electron counting I need to input the scan dimensions manually. Can this be taken from the reader if the scan_dimensions are not given?

Or can we create a function that gets meta data information from a reader? stempy.io.get_metadata() which returns important information without reading the whole file? For example with 4D Camera data we only need to read the header of 1 file to get the

[2020-02-07 19:30] cjh1 commented on #119
@ercius That is exactly what it should do with you don't provide `scan_dimensions`, is that not the case ( if so that is a bug )?

[2020-02-08 01:21] ercius commented on #91
I think this is fixed. Probably an issue with updating (pip install -U) the python code locally.

[2020-02-08 01:21] #91 closed

[2020-02-10 19:20] psavery commented on #116
This is resolved. Closing.

[2020-02-10 19:20] #116 closed

[2020-02-10 19:21] psavery opened #120 "Lock down vtk-m version in Dockerfile"

[2020-02-11 14:06] psavery commented on #111
Here's one thing that we might want to change at some point with the PyReader. It looks like [here](https://github.com/OpenChemistry/stempy/blob/7f4df7fe9abcf77142ca5942a22bf19e9121b8cb/python/stempy/io/__init__.py#L60-L61), it needs STEM images to already exist in the HDF5 file in order to get the scan dimensions. We might want to be open to the possibility of STEM images not being there, I'm not

[2020-02-11 14:47] #120 closed

[2020-02-12 12:43] psavery commented on #111
So I determined the cause of the error. The image numbers were not being saved to the HDF5 file, and that was causing the PyReader to use incorrect image numbers.

I think we can fix this in one of three ways:

1. Save the scan positions as an extra dataset at the root of the HDF5 file. We would do that [here](https://github.com/OpenChemistry/stempy/blob/11596e0edf582853e80370a6ac54d3e380ecafda/py

[2020-02-12 13:51] cjh1 commented on #111
@psavery In general the plan was to store the frames in the hdf5 file in frame order or save the position in a separate dataset, to allow for storing out of order or partial scans. So in this case ( for this file ) the frames  should be store in order. This is the section of code this supposed to ensure this,
 I can see for a start the index seems to be hard coded to zero ( not sure that is the pr

[2020-02-12 14:59] #104 closed

[2020-02-12 16:03] psavery commented on #111
@cjh1 and I spoke, and just to record some of the discussion here, I was actually using [this script](https://github.com/OpenChemistry/stempy/blob/11596e0edf582853e80370a6ac54d3e380ecafda/examples/create_hdf5.py) rather than [SectorStreamReader::toHdf5FrameFormat()](https://github.com/OpenChemistry/stempy/blob/ce09a3d29faeb093ea7fd76fdd422459e09e3abd/stempy/reader.cpp#L571). I think I will need to

[2020-02-13 12:30] psavery commented on #119
@ercius Yeah, try not providing `scan_dimensions` as an argument and let us know if it works.

[2020-02-13 15:33] #111 closed

[2020-02-13 15:37] psavery opened #126 "PyReader requires "stem/images" for scan dimensions"
[Here](https://github.com/OpenChemistry/stempy/blob/7f4df7fe9abcf77142ca5942a22bf19e9121b8cb/python/stempy/io/__init__.py#L60-L61) in `get_hdf5_reader()`, the scan dimensions are determined by STEM images in the HDF5 file. However, it is not guaranteed that there will be STEM images in the HDF5 file (for instance, there may just be raw data).

We should come up with a way to either maybe save the

[2020-02-13 16:23] ercius commented on #119
I'll try this today. Thanks for the reminder!

On Thu, Feb 13, 2020, 4:30 AM Patrick Avery <notifications@github.com>
wrote:

[2020-02-13 19:01] ercius commented on #119
It works as expected for electron counting. Sorry, I did not test that.

However, is there a way to get this information from the reader though? It would be nice to be able to look through the data and tell the user which dataset is which size without loading the entire data set?

[2020-02-13 19:15] psavery commented on #119
@ercius Currently, you could extract the information from the header like this:

[code]

Unfortunately, it does require reading a block of data (which may or may not be big, depending on the data set).

We could potentially add API to read only the header of a block. But it is not something that is there currently.

[2020-02-13 19:20] ercius commented on #119
Reading a block of data is not a problem. That is relatively small and
quick. I don't think it's necessary to work a special API. Knowing where
the header data can be accessed is sufficient. Thanks!

On Thu, Feb 13, 2020, 11:15 AM Patrick Avery <notifications@github.com>
wrote:

[2020-02-13 19:32] psavery commented on #119
Sounds great! I'll be closing this issue, then. Thank you!

[2020-02-13 19:32] #119 closed

[2020-02-13 19:39] psavery commented on #119
@ercius One more thing. If you do read a block of data, the reader's internal state will change so that it will read the second block when `reader.read()` is called again. If you are going to pass the reader into a function for electron counting or stem image creation, make sure you first call `reader.reset()`, so that it will start from the first block.

[2020-02-13 21:46] #84 closed

[2020-02-13 21:51] cjh1 commented on #126
@psavery I though we where saving the scan dimensions are attributes in the HDF5 file?

[2020-02-14 12:37] psavery commented on #126
@cjh1 I do see [from the documentation](https://stempy.readthedocs.io/en/latest/StempyH5Format.html) that it is being saved in `electron_events/scan_positions` as the `Nx` and `Ny` attributes. So we could potentially extract it from there as well, but it would only be there if the HDF5 file contained electron counted information.

It's also present if the raw data at `/frames` if it is in the squa

[2020-02-14 18:36] psavery commented on #126
From my discussion with @cjh1:

To do: create an attribute on `/frames` in the HDF5 file that indicates the scan dimensions.
To do: try to make dimension attributes into tuples if possible, but separate attributes if not.

[2020-02-14 20:02] ercius opened #128 "write_hdf5 with sector stream reader slows significantly"
Im having trouble with the write_hdf5() function for 1kx1k scans with FileVersion.VERSION4 (sector) files.  The initial speed is very fast but it eventually saturates and takes extremely long times to complete. I tracked the output H5 file size as a function of time:
![image](https://user-images.githubusercontent.com/15657108/74563117-e8b5d580-4f20-11ea-91a9-2fb84788f755.png)

I let it run about 6

[2020-02-14 21:08] cjh1 commented on #128
@ercius Interesting! So it looks like we are get as similar data rate up until about 300 GB, at which point it starts to drop off.

I would expect the overhead associated with seeking to the correct place in the file to write a frame to be constant for the whole processes of writing of the file.

What is the percentage of data captured? How make raw sector files are their?

[2020-02-14 22:19] PhilippPelz commented on #128
Hmm, just looking through the code, h5readwrite.cpp opens the h5 dataset, selects hyperslab and closes it again for every single frame that is written to hard disk.
Maybe a bottleneck.

L610 reader.cpp
L235 h5readwrite.cpp : H5ReadWrite::updateData

[2020-02-14 22:42] psavery commented on #128
The strange thing is that the write rate seems to be fairly constant over time until it hits around 300 GB. It makes me wonder if there's an overflow (or something similar) somewhere.

[2020-02-14 23:01] psavery commented on #128
@ercius Are you using the default format (`SectorReader.H5Format.Frame`), or the `DataCube` format?

[2020-02-15 05:29] ercius commented on #128
I'm using the default format. There is nothing obvious as to why it would
slow down.

On Fri, Feb 14, 2020, 3:01 PM Patrick Avery <notifications@github.com>
wrote:

[2020-02-17 11:22] psavery opened #129 "Update README.md example"

[2020-02-17 12:59] cjh1 commented on #128
@ercius  It would be good to know the % of data captured. As you know we read all the files in the round robin fashion, reconstructing the frames into a cache, once a full frame is complete its written to the file and its removed from the cache. So one possible explanation for the slowing in the rate a which the file is growing is that the frame aren't be reconstructed ( so no frames or few frames

[2020-02-17 16:30] ercius commented on #128
@cjh1 Good question and maybe this points to the problem. The data set Im trying to reconstruct is a 1025x1024 scan (659GB in total). It has a total # sectors = 4193847 and percent saved = 99.89%. So, we are missing a relatively small but not objectively insignificant amount of data (~715 MB) depending on the cache size. (FYI this was due to an issue which is now fixed. We get 99.99% now.)

Also i

[2020-02-17 17:20] cjh1 commented on #128
@ercius So with that loss ratio the cache would only grow to about 2.8 GB ( for every lost sector we allocation a full frame in the cache ). However, lost sectors is not the only way the cache might grown large, if the sectors associated with a frame got widely dispersed in the files then the cache would grown ( as in the sectors associated with a frame did not appear in relatively small number of

[2020-02-17 19:01] cjh1 commented on #128
@psavery Has added some instrumentation that may help here, can we get you to repeat with the instrumented code? Are you using singularity for this?

[2020-02-17 20:54] ercius commented on #128
I was not using the singularity container before. I just pulled the most recent one and backed up the other one.

Im going to try to rebuild the data. It will take some time to see the performance. Ill get back to you when I have some results.

[2020-02-17 21:02] cjh1 commented on #128
Ok, let us know if you want to try running the instrumented branch.

[2020-02-17 21:55] ercius commented on #128
Oh. I thought I was running the new branch. The same thing happens with the
singularity image. Right at 300 GB the speed drops.

Let's try the instrumented branch.

On Mon, Feb 17, 2020, 1:02 PM Chris Harris <notifications@github.com> wrote:

[2020-02-17 22:18] cjh1 commented on #128
@ercius No, that was the image with `imageio`, I will push a docker image for the branch.

[2020-02-17 22:25] cjh1 commented on #128
Here is the command to pull the instrumented image. It should write debug info to stdout every minute, so if you could redirect it to a file that would be good.

`singularity pull docker://openchemistry/stempy:debug`

[2020-02-17 22:45] psavery commented on #128
@ercius It prints out some information to stdout that we hope will be useful. Make sure you capture the stdout.

[2020-02-18 00:18] ercius commented on #128
I am just able to get to this now. I left the write_hdf5() function running with the non-debug dicker image. Here is the timing result:
![chart](https://user-images.githubusercontent.com/15657108/74693527-042f1380-51a1-11ea-93b7-d06bf22e6ef0.png)
Its an inflection point in perfromance. Very odd.

Ill start running the debug image now.

[2020-02-18 03:30] ercius commented on #128
Here are the timing results from the debug run
![chart (1)](https://user-images.githubusercontent.com/15657108/74701319-39485f80-51bb-11ea-8cd2-6491549287c1.png)

And here is the stdout
[write_hdf5_debug.txt](https://github.com/OpenChemistry/stempy/files/4217179/write_hdf5_debug.txt)

It initially completes 255 frames per second. Then it suddenly drops to 17 fps and continues to slow down to about

[2020-02-18 13:17] cjh1 commented on #128
@ercius As the cache doesn't seem to be growing, it does suggest that the problem is on the writer side. To confirm this we could build another image that just throws the data away, if it a writer problem we should get a pretty constant frame rate. Trying on another dataset and HDD are also good tests todo.

[2020-02-18 16:07] ercius commented on #119
@psavery Thanks for the info. I would not have thought of that.

[2020-02-19 00:16] psavery opened #132 "Maybe add documentation for reader versions"
Currently, they are just `FileVersion.VERSION1`, `FileVersion.VERSION2`, etc. It might be good to add some documentation.

[2020-02-19 00:55] ercius commented on #128
I wrote a quick script to mimic the writing of the data. Here is the code:
[code]
I only wrote enough fake frames to get above the 300 GB threshold. The file increases up to 408 GB with 600*1024 frames. It finished successfully. So, there is no problem with writing a large > 300 GB data set using h5py and hopefully also HDF5 in C++.

Here is the timing chart. I think I missed the end of the file w

[2020-02-19 23:57] ercius opened #134 "Enable interactive plotting"
NERSC's default Python3 kernel enables interactive plots in Jupyter Lab through ipyml. You can enable this using `%matplotlib widget` at the start of a notebook. If I use the stempy kernel then ony `%matplotlib inline` can be used.

The interactive plotting is very useful for users. Can the full jupyter stack and widgets be installed in the NERSC kernel?

I can provide example notebooks where this

[2020-02-20 02:28] ercius commented on #134
On second thought... This is not necessary and complicates the build process.

[2020-02-20 02:28] #134 closed

[2020-02-20 13:15] cjh1 commented on #128
@ercius Yes in general that is what stempy is doing, although its hard to know for sure without knowing how that various h5py options map to the C API. I will go ahead and update the debug image to disable the writing.

[2020-02-20 16:59] cjh1 commented on #128
@ercius I have pushed an update image to the 'debug' tag, so the following command should pull it down:

[code]
Note, it still creates the file, I just commented out any updates.

[2020-02-20 22:38] ercius commented on #128
Just tested whether sorting the filenames has an effect. Im using glob to get the list of files, and I thought maybe they were not sorted correctly. The same behavior is seen though when I use sorted() on the `list` of files.

[2020-02-21 13:04] cjh1 commented on #128
@ercius Did you manage to test with the latest debug image?

[2020-02-21 16:03] ercius commented on #128
@cjh1 I just pulled it and started running the code. We are getting about 10x faster frame building  (~2000 fps) without writing. Ill let you know if  it slows down.

[2020-02-21 19:10] ercius commented on #128
It finished without any slowdown. Here is the output
[stempy-debug-no-writing.txt](https://github.com/OpenChemistry/stempy/files/4237645/stempy-debug-no-writing.txt)

[2020-02-21 20:28] cjh1 commented on #128
@ercius Thank you running that test. We will do some digging into the HDF5 written to see if we can see what the problem is there.

[2020-02-24 18:53] cjh1 commented on #128
@ercius I have been able to create a test case that recreates a similar performance profile using dummy data. So I should be able to investigate more easily what is going on without needed the dataset.

[2020-02-24 21:08] cjh1 commented on #128
@ercius Ok, I think we have got to the bottom of this, I have pushed image with a fix, could you give it a try when you get a chance?

[code]

Its related to the way get where getting the dataset dimensions, it seems to be more costly than simple metadata, so we are now just passing it in.

[2020-02-26 15:58] ercius commented on #128
@cjh1 I just started running this. Ill have an answer in the afternoon when I finish up a few meetings. Thanks for tracking this down! What a weird problem though.

[2020-02-26 17:59] cjh1 commented on #128
@ercius Yes, very strange, we had assumed it was just static meta data, apparently not!

[2020-02-27 01:23] ercius commented on #128
@cjh1 it worked! It took about 53 minutes to process a full 1025x1024 data set. Thanks for figuring that out. The fix can be merged into the master. Let me know when I can pull a new image.

@PhilippPelz  It should be on NERSC now. ncemhub/2020.01.13/data_scan143.h5

[2020-02-27 01:39] PhilippPelz commented on #128
Awesome! Thank you all!
Peter, what is the file name/scan number?

Peter Ercius <notifications@github.com> schrieb am Mi., 26. Feb. 2020,
17:23:

[2020-02-27 02:29] ercius commented on #128
@PhilippPelz ncemhub/2020.01.13/data_scan143.h5

[2020-02-27 13:22] cjh1 commented on #128
That's great news, we will get the fix merged today.

[2020-02-27 15:06] cjh1 commented on #128
This fix is now merge into master. The latest image can be pulled using:

[code]

I have also updated the shifter image.

[2020-03-13 00:45] ercius opened #136 "create_stem_images with multiple detectors not working"
I can get stempy.image.create_stem_images() to work if I only use 1 value for inner and outer radii. However, if inner and outer radii are a tuple then I get this error:

Im using electron counted sparse data loaded from a hdf5 file. So, `ee` is a ndarray of sparse data saved using `stempy.io.save_electron_counts()`

This works:
`ims = stim.create_stem_images_sparse(ee, 0, 100,scan_dimensions = sc

[2020-03-13 12:00] cjh1 commented on #136
@psavery Can you take a look at this?

[2020-03-13 13:09] psavery commented on #136
@ercius Could you try making the inner and outer radii into lists instead of tuples, and see if that fixes it?

I got a similar error for using tuples instead of lists. Maybe pybind11 is being a bit picky. We could potentially convert those arguments to lists inside `create_stem_images` to make it more robust.

Also, do you get a deprecation warning for using `create_stem_images_sparse`? We combin

[2020-03-13 13:21] psavery commented on #136
In the case of a numpy array, if the user defines `frame_dimensions`, it assumes the data is sparse. Otherwise, the data is interpreted to be dense.

[2020-03-13 13:46] psavery commented on #136
@ercius Nevermind. I found a bug in the code. This should be fixed by #137.

Until you get the new image, you can use a list instead of a tuple. But both will work when #137 gets merged.

[2020-03-13 13:51] #136 closed

[2020-03-13 14:08] cjh1 commented on #136
@ercius I have push a new image with this fix.

[2020-03-13 15:13] ercius commented on #136
Thanks! I did not think to try using lists instead of tuples. I did get the
deprecation warning, so Ill keep using the overloaded function instead of
create_stem_images_sparse.

Glad it was pretty easy to fix. Ill pull the new image today. Thanks!

On Fri, Mar 13, 2020 at 7:08 AM Chris Harris <notifications@github.com>
wrote:

[2020-03-15 01:14] ercius opened #138 "core dump for electron counting using latest version"
Im getting a core dump when doing electron counting using an HDF5 file for input. Im using the latest singularity image to run the counting.

Here is the code Im using:
[code]

The initial testing for the distribution mean and sigma finishes correctly and the verbose output looks correct. Then it goes directly to a core dump.

The electron counting works properly when using the sector reader. So,

[2020-03-16 23:36] ercius commented on #138
@cjh1 Im uploading to Cori now. The file is:
.../ncemhub/4Dcamera/2020.03.13/data_scan16.h5

Its about 10GB.

[2020-03-17 12:48] cjh1 commented on #138
Thanks @ercius copying now ...

[2020-03-17 17:41] psavery commented on #138
I was able to reproduce this, and I think I figured out the problem.

On the C++ side, we need to acquire the python GIL before we delete python objects. We weren't doing that in a couple of cases. I have a fix coming soon, and it fixes the crashing for me.

[2020-03-17 21:25] #138 closed

[2020-03-17 21:29] cjh1 commented on #138
@ercius The image is update with the fix.

[2020-03-17 23:40] ercius commented on #138
awesome. Thanks so much!

On Tue, Mar 17, 2020 at 2:29 PM Chris Harris <notifications@github.com>
wrote:

[2020-03-17 23:45] ercius opened #140 "feature request: read electron counts from h5 file"
Can we make the [ElectronCountedData](https://github.com/OpenChemistry/stempy/blob/1b3360fc114ddbc3a1ac9d70b5b461782bb523e9/python/stempy/image/__init__.py#L345) numedtuple available for use later? It would be great to provide the ability to be create a namedtuple which the user populates and stempy recognizes. Also, we can have a stempy.io function to load the electron counted data back into this

[2020-03-23 14:21] cjh1 commented on #140
@ercius We can take a look at this. Providing a function to load it into the namedtuple should be pretty straight forward, we would need to think about how to allow a user to create and populate their own, but we will come up with something.

[2020-03-23 15:17] ercius commented on #140
@cjh1  thanks. I think that just loading the data back into the namedtuple would be sufficient. It should have the same signature as the originally created one so that it can be used in the stempy.image functions as well.

[2020-03-25 13:05] #140 closed

[2020-03-25 13:27] cjh1 commented on #140
@ercius This is now merged into master and I have updated the container. Note that we changed `save_electron_counts` to take the `ElectronCountedData` rather than just the raw data, so you don't has to pass the parameter separately.

[2020-03-25 17:26] ercius commented on #140
That's exactly what I needed. Thanks! This makes analysis easier.

On Wed, Mar 25, 2020, 6:27 AM Chris Harris <notifications@github.com> wrote:

[2020-05-12 15:29] cjh1 opened #147 "Add gain to electron counting"
@ercius Do you have an example the gain map you might use?

[2020-05-12 15:36] cjh1 opened #148 "Get interactive matplot working with stempy jupyterlab image"

[2020-05-22 17:18] ercius opened #151 "background sigma as float"
Can we change `stempy.image.electron_count()` to allow for `background_threshold_n_sigma` as a float? Current sigma is about 2 ADO and that is sometimes not fine enough to get the right value for the background.

[2020-05-25 17:10] ercius commented on #148
@cjh1 This is working on both the local computer and Cori. The issue can be closed. Very useful for analysis. Thanks!

[2020-05-25 17:12] ercius commented on #132
@psavery @cjh1  This is a good idea. Where would documentation like this live? I can add descriptions of the headers. I already have them written down.

[2020-05-25 17:13] ercius commented on #129
This can be closed.

[2020-05-26 14:01] #129 closed

[2020-05-26 14:01] #148 closed

[2020-05-26 14:05] cjh1 commented on #132
I think we could document it in a new rst file [here](https://github.com/OpenChemistry/stempy/tree/master/docs/source). If you have the description to had that would be great, we can also get it from the code. We can then add some description of the various versions, which might involve a little archaeology.

[2020-07-01 16:23] ercius opened #154 "Operating on electron events slow when loaded from disk"
There is a big difference in operating on data returned by stempy.electron_count() and stio.load_electron_counts(). I tested this using stim.create_stem_images(). The attached PDF shows a notebook with the output. The results show a difference in 0.07 seconds vs 4 seconds.

Is there a way to make the loaded data in the same form as the data returned by the electron_counting code?

The data and not

[2020-07-01 16:33] cjh1 commented on #154
The reason for this different I think is in the first case the memory is all allocated and use on the C++ side. In the second case we use h5py to load the data so it allocated by numpy, when we operate on it we have to go through the Python API. There are a couple of things we could try, such a loading directly with hdf5 ( we now it as a dep ).

[2020-07-01 22:39] ercius commented on #154
That was what I thought. If we can get similar speed for the loaded data that would be very useful for analyzing these data sets. Can you take a look at that?

[2020-07-02 12:35] cjh1 commented on #154
Absolutely, I take a look.

[2020-07-16 18:15] cjh1 opened #156 "Change dark field reference to to float32"

[2020-07-16 18:16] cjh1 opened #157 "Validate numpy types, passing the wrong type currently causes a crash"

[2020-07-16 18:16] cjh1 opened #158 "Make dark field reference optional"

[2020-07-24 17:29] ercius commented on #154
@cjh1 After the gain is merged it would be great to work on this. Thanks!

[2020-07-24 17:31] ercius commented on #147
@cjh1 We can close this. The gain is working.

[2020-07-24 17:31] cjh1 commented on #154
Absolutely, this is next on the list.

[2020-07-24 17:32] #147 closed

[2020-07-24 17:32] ercius commented on #151
@cjh1 This is implemented.

[2020-07-24 17:32] #151 closed

[2020-07-30 16:02] ercius opened #161 "Deprecation warning from electron_count"
I get this warning when electron counting data:

/usr/local/lib/python3.7/site-packages/stempy/image/__init__.py:391: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  electron_counte

[2020-07-30 16:04] cjh1 commented on #161
We should be able to clean this up.

[2020-07-30 16:05] ercius opened #162 "stempy-jupyterlab plots not working"
Error when trying to show interactive plots in stempy-jupyterlab kernel

[code]

[2020-07-30 16:22] cjh1 commented on #162
I will take a look, this is on cori?

[2020-07-30 16:23] cjh1 commented on #162
I think its because we need to merge #155, I will do that and try.

[2020-07-30 17:16] cjh1 commented on #162
Yep, that fixed it. Should be good now.

[2020-07-30 17:16] #162 closed

[2020-07-30 18:09] cjh1 opened #164 "Convert pybind11 disambiguation to C++14 syntax"

[2020-08-05 20:33] #161 closed

[2020-08-08 00:44] ercius opened #165 "squashfs problem"
I get this error when trying to run the singularity images on mothership6. Could be an update to the local singularity version (2.4.2-dist) but Im not sure.

[code]

Adding the -w option does not help.

Google-fo did not bring up an answer.

[2020-08-10 13:38] cjh1 commented on #165
@ercius I will take a look at this today.

[2020-08-10 15:29] cjh1 commented on #165
@ercius I think this is a bug in that singularity version. I installed the latest (3.6.1) locally and issue goes away. These are the [instructions](https://github.com/hpcng/singularity/blob/master/INSTALL.md) I followed.

[2020-08-10 15:36] ercius commented on #165
@cjh1 Thanks. Ill upgrade soon.

[2020-08-10 15:38] cjh1 commented on #165
Let me know if you run into any problems.

[2020-08-10 16:46] ercius commented on #165
@cjh1 I got it working. I hope the distribution version will update to avoid manual building of singularity. Ill add this to the singularity instructions on the repo.

[2020-08-10 16:58] cjh1 commented on #165
It actually looks like singularity isn't packaged for the latest Ubuntu, so updated the instructions would be great.

[2020-08-10 17:11] ercius commented on #165
See #167

That's weird. Are they removing support for it? Maybe docker is a better option?

[2020-08-10 17:14] cjh1 commented on #165
I don't think they are removing support for it. Not sure why it not being package, 20.04 is relatively new, so may be the maintainer hasn't got things working with it yet. Either way we should stick with it, singularity is a better choice for what we are doing.

[2020-08-10 18:14] ercius commented on #165
Great. Building it is not too hard. Thanks!

On Mon, Aug 10, 2020 at 10:14 AM Chris Harris <notifications@github.com>
wrote:

[2020-08-11 15:03] #165 closed

[2020-08-11 21:10] #158 closed

[2020-08-12 21:21] cjh1 commented on #154
Fixed by #160

[2020-08-12 21:21] #154 closed

[2020-08-12 21:22] cjh1 opened #171 "Build image with specific compile options for KNL nodes"

[2020-08-22 19:36] ercius opened #172 "Out of memory on Cori nodes"
Getting out of memory issue on Cori when counting 163 GB (512x512) sized scan.  Using 20 threads the nnode runs out of memory. Using 15 threads is successful.

Same problem with 20 threads when using `gain=None` and `gain=np.ones((576,576),dtype=np.float32)`

Would be good to check the dtype used in memory for different options:
- [ ] No gain and no dark
- [ ] Dark, no gain
- [ ] Gain and dark

[2020-08-24 13:27] #132 closed

[2020-08-24 15:13] cjh1 commented on #172
You mentioned that this is with `VERSION4`, is this correct?

So in the case of the first two that data will be treated as `uint16`, only the introduction of the gain will push the size to `float32`. In the case of subtracting the dark reference, we statically cast back to `unit16` ( truncate ) which may or may not be the right think to do? However, this is what we have been doing from the start.

[2020-08-24 23:20] ercius commented on #172
Yes. And if that makes a difference then we should not bother fixing this. I'm only interested in VERSION5 going forward. I was using an older experiment as an example of a folder full of data that was not fully analyzed and Im testing submitting many counting jobs at once.

Everything you describe here is what I would expect the code to do. I was getting the problem on Cori KNL nodes and not on m

[2020-08-25 01:09] ercius commented on #172
Is the counting code doing a "round robin" through the file list or is it reading each file completely into memory? If the latter then we will run out of memory unless the files are read in a random order. For the 512x512 the sectors are spread throughout each file from the start to the end of the scan.

It likely depends on how the threads go through the files. This probably needs to be optimized

[2020-08-25 01:17] ercius commented on #172
I just confirmed that the files I was testing originally have 99.9881...% completion. So, that not the problem.

If I read entire files into memory and plot the completeness of the full scan read you can see it approaches 1 with an exponential-like curve. See below a plot of the number of full images on the y-axis and the x axis is the number of files read where the file list is randomized using `

[2020-08-25 16:47] cjh1 commented on #172
Thanks this is a useful plot. So the way the reader works is to open all the files and reads a block at a time from each file in a round robin fashion, this is done in parallel across the threads. So I guess as you increase the number of threads you increase the number of partial frames that may have to held in the cache at a time.

[2020-08-25 17:33] ercius commented on #172
Seems to me like the cache should be getting cleared pretty quickly then. Checking that the cache is getting properly cleared is something to keep in mind when optimizing for the KNL nodes.

[2020-08-25 18:43] cjh1 commented on #172
@ercius I can add some instrumentation and dig into this further, can you point me at the dataset?

[2020-08-25 20:23] ercius commented on #172
@cjh1

I have tested with both VERSION4 and 5. The problem is the same. I think concentrating on 5 is better. However:

For VERSION4:
ncemhub/4Dcamera/2020.02.05/data_scan301_*.data

For VERSION5:
ncemhub/4Dcamera/2020.06.04/data_scan0000000050_*.data

They are both 513x512 scans.

[2020-09-11 16:38] ercius opened #173 "Threaded counting produces incorrect result"
We were counting some data and noticed weird behavior which we thought was a problem with the detector or a dark reference or something else. However, we can remove the artifacts when we use the non-threaded counting code.

We have other examples with the pattern centered, so that is not an issue.

Here is a sum of about 1000 patterns from a recent scan using the threaded code:
![Figure 4 (3)](htt

[2020-09-11 17:03] cjh1 commented on #173
@ercius Do you have the notebook/script you are using for this? I am guess the problem was introduced with the recent dark reference  changes. I would like to retry with an image before those changes so we can try and track it down.

[2020-09-11 17:12] ercius commented on #173
@cjh1 Where do you want to do the testing? On mothership6? We are using it today, but I can point you to where the data for the scan Im showing is. Or we can provide a smaller scan since that one is 512x512 and takes 5 minutes to count.

[2020-09-11 17:14] cjh1 commented on #173
@ercius Smaller scan would be great, if you can point us at the data.

[2020-09-11 18:56] ercius commented on #173
Ok. Ill take a smaller scan when I get a chance soon. Then Ill point you to the data. Are you going to download the data locally and run things there? Or do you need access to mothership6?

[2020-09-11 19:01] cjh1 commented on #173
@ercius We would like to download the data  if possible.

[2020-09-11 20:23] ercius commented on #173
@cjh1 No problem at all. Please download away!

The files are on mothership6 at:
/mnt/hdd1/2020.09.10-Kitware-test/

scan126. Its 128x128 and only about 11GB.

I also have the counted data in there from the threaded and non-threaded stempy function.

I also copied the python scripts I use to do the counting in that directory in case there is some issue with my script for the threaded function run.

[2020-09-11 20:32] cjh1 commented on #173
@ercius Thanks, download now.

[2020-09-11 20:50] cjh1 commented on #173
Do you have the code you are using to create the plots?

[2020-09-11 21:09] ercius commented on #173
Ill copy and paste the relevant pieces here. Hopefully no major typos are added:

[code]

[2020-09-11 21:10] cjh1 commented on #173
Thanks!

[2020-09-14 20:22] cjh1 commented on #173
@ercius So I have started to take a look at this and unable to recreate your images above. It seems like the electron counts are very different. I even tried using image on your server. I am running the following to do the electron count

[code]

Is this the same image you were using? And are you using a threshold of 4?

[2020-09-15 17:22] ercius commented on #173
@cjh1 This command will *not* show the problem:
`singularity exec -B /mnt /home/daquser/stempy_latest.sif python3 ~/electron_count_nothread.py 126 4`
It uses the non-threaded counting code.

This is the command I use which does show the problem:
`singularity exec -B /mnt /home/daquser/stempy_latest.sif python3 ~/electron_count.py 126 4`
Make sure that the backend keyword is set to 'thread' in that

[2020-09-15 23:33] ercius commented on #173
@cjh1 I was just able to recreate this on mothership6. I moved my processing scripts to a different directory called 4dc_processing.

I ran this code from the daquser account (with threading enabled):

`/usr/local/bin/singularity exec -B /mnt ~/stempy_latest.sif python3 ~/4dc_processing/electron_count.py 126 4`

The data was written to /mnt/hdd1/data_scan126_th4.0_electrons_001.h5. I will leave th

[2020-09-16 00:08] cjh1 commented on #173
Thanks @ercius, I will try it out tomorrow.

[2020-09-21 22:04] ercius commented on #173
@cjh1 Looks like this is fixed due to a couple of recent commits and pulls. I tried it on the test data on ms6. Im going to run a larger set of data which I know did not work previously. I think its fixed though.

[2020-09-21 22:04] #173 closed

[2020-10-01 22:09] ercius opened #176 "Multiple frames per probe position"
@cjh1 Do know how the counting code will deal with having two frames acquired at the same probe position? This will allow us to improve signal by adding multiple frames together. Im not sure if this was incorporated into the raw data reader though.

[2020-10-01 23:48] ercius opened #177 "radial_sum_sparse center is different"
I want to document that `radial_sum_sparse` has a different center than other stempy functions like `create_stem_images`.

I will need to fix this so that everything matches, and we should document how to determine the center. I have a small-ish dataset where we can test this in the future:
![image](https://user-images.githubusercontent.com/15657108/94874041-bdc3b780-0405-11eb-8f04-4b5610fed676.pn

[2020-10-02 19:22] cjh1 commented on #176
So currently the assumption is one frame per probe position. The current behavior would be that the electron counts would be from the last frame. What are your thoughts on how combine the multiple frames?

[2020-10-02 19:59] ercius commented on #176
I think I would just append the second counted frame to the same STEM scan position. If the two frames have electrons at the same position then the list of positions will just have the same number twice. I believe that the analysis would treat that the same and nothing would have to change downstream (like create_stem_images()). Does that sound good?

[2020-10-02 20:29] cjh1 commented on #176
Yes, that makes sense, it should be a pretty simple change.

[2020-10-02 21:22] ercius commented on #176
ok...I think that would be worth trying. I took a data set with 2 frames per position. Its just noise unfortunately, but Ill try to get one with a real sample soon.

[2020-10-05 20:09] ercius commented on #176
@cjh1 The expected behavior unfortunately does not happen (ignoring the first frame(s)). I get a core dump when I try to count a file with multiple frames per position.

[2020-10-05 20:11] cjh1 commented on #176
:disappointed: If you point me at the dataset I will take a look.

[2020-10-05 20:29] ercius commented on #176
No worries! We never tried it before. Actually, there are two different behaviors.

- If I use 4 frames per position then I get a core dump when I try to count. Not sure why. Scan #225
- If I use 2 frames per position then it counts. I guess it throws the first frame away. So, that is as expected! Scan #227

The data is on /mnt/nvmedata*/ right now. They are both 129x128 scans. There are also two

[2020-10-05 20:47] cjh1 commented on #176
OK, I will grab scan225, will let you know when I have it downloaded.

[2020-10-05 22:48] ercius commented on #176
This issue can probably be figured out when we implement the full capability to count multiple frames per position. Counting that data set can be left to later. Its not critical. It is good to know that >2 frames crashes things though.

[2020-10-06 17:05] cjh1 commented on #176
@ercius So I am able to recreate the segfaults, lots of them :smile: So this isn't quite as simple as I first thought. One question I have is how are the multiple frames at a single position identified?  We use the scan position as the key when reconstruction the partial frames. So the question is how do we know which parts fit with with frame, is there some differentiation in the header? The scan

[2020-10-06 19:31] ercius commented on #176
@cjh1 Great question. I had not thought of that.

Each sector will have the same `frame number` as indicated [here](https://github.com/OpenChemistry/stempy/blob/master/docs/source/4dCamera_header_versions.rst). So, I think you need to change from using the scan position as the key to the frame number to assemble frames. Then you place each frame at the corresponding scan position once its counted.

[2020-10-06 20:45] cjh1 commented on #176
@ercius Thanks, will take a look at using the frame number.

[2020-10-19 20:15] #156 closed

[2020-10-20 05:36] harsh07051 commented on #177
I will like to take it up.

[2020-10-21 17:20] cjh1 commented on #171
@ercius I have built an image that sets the architecture to "KNL" when we build stempy in our container. The general consensus seems to be that this will not make much difference as gcc is bad a vectorising from knl. However, it is probably worth giving it a go, so if do any runs cori soon you could give it a go and compare. The other option would be to build everything natively on cori and see wh

[2020-10-21 20:08] cjh1 commented on #172
@ercius I would like to take a look at this, it seem that the 2020.06.04 scan is no longer there. Is there another similar size scan I could use. Were you just electron counting and writing to HDF5?

[2020-10-21 20:09] cjh1 commented on #176
I believe this is now resolved

[2020-10-21 20:13] #41 closed

[2020-10-22 14:58] cjh1 opened #180 "Update images in readme"
@ercius It looks like the URLs for the images you added to the readme are no longer working. Do you have the original images, we can add them to the repo or somewhere more permanent.

[2020-10-22 15:00] cjh1 commented on #171
Sorry this is the image name:

[code]

[2020-10-23 16:05] ercius commented on #172
@cjh1 I think I deleted that because I thought we were done with it. Sorry about that.

I have lots of other 513x512 scans. Try:
ncemhub/4Dcamera/2020.10.05/data_scan0000000231*

If you want a 1kx1k:
ncemhub/4Dcamera/2020.10.05/data_scan0000000229*

[2020-10-23 16:45] cjh1 commented on #172
@ercius  Thanks I will see if I can recreate using that dataset.

[2020-10-23 22:20] ercius commented on #172
counted H5 files are in the same directory to compare to.

[2020-10-23 22:24] ercius commented on #180
I dont have those images anymore. I will recreate them and update the readme to include the newest functions to replace some of this code. Then Ill add them to the repo. Where would you prefer data like that be located?

[2020-10-23 22:24] #86 closed

[2020-10-23 23:47] ercius opened #181 "Docker images request"
install ncempy by default

`pip install ncempy`

[2020-10-26 14:02] cjh1 commented on #180
@ercius Sounds good, we have `docs` directory so lets do, `docs/images`?

[2020-10-27 17:27] ercius commented on #180
sounds good to me. Ill make a pull request soon.

[2020-10-30 13:25] cjh1 commented on #172
@ercius I have started to look at this, I can recreate the out of memory situation. Quick question, for scan231, is it a single frame per scan position?

[2020-10-30 15:41] ercius commented on #172
@cjh1 Yes. 231 and 229 are both 1 frame per scan position.

[2020-11-02 00:31] ercius commented on #171
@cjh1 I ran into a couple of problems with this for a 512x51 scan.

I ran into an error using the KNL debug nodes:
`OpenBLAS Warning : The number of CPU/Cores(272) is beyond the limit(256). Terminated.`
This only happened when I submitted a script to the KNL-debug nodes.

I still got the out of memory error in interactive mode on a KNL. I just set threaded = 1 and let the machine choose the number

[2020-11-02 00:52] ercius commented on #171
In interactive more I ran:
` shifter --image openchemistry/stempy:knl python3 /global/project/projectdirs/ncemhub/4Dcamera/4dc_processing/cori/electron_count_cori.py -l /global/cscratch1/sd/percius/2020.06.03/ -t 4 -s 15`

This ran out of memory in a few minutes)

I also changed the number of threads:
 - 5 threads barely hit memory because it was probably reading in pretty slow. I have not idea ho

[2020-11-02 15:08] cjh1 commented on #171
@ercius I have been looking at #172, I have a few things I would like to try out to avoid these out of memory issues. In #172 it seemed that 15 was the sweet spot.

[2020-11-02 16:16] ercius commented on #180
@cjh1 see #182.

[2020-11-02 17:19] ercius commented on #171
@cjh1 15 threads still gave me issues. I got up to 90% memory usage for the 512x512 for the data set Im testing. I killed it before it ran out of memory.

[2020-11-02 17:48] cjh1 commented on #171
Strange, this what I have been using for `ncemhub/4Dcamera/2020.10.05/data_scan0000000231`:

[code]
With the number of threads set to 15.

Hopefully I can come up with something in #172, that will make this more robust.

[2020-11-03 01:48] ercius commented on #171
Ok. I'll try that too see if I can replicate what you have done. Maybe I'm
doing something wrong or my data set is different in some way.

I'll try it tomorrow.

On Mon, Nov 2, 2020, 9:48 AM Chris Harris <notifications@github.com> wrote:

[2020-11-03 18:27] cjh1 commented on #171
@ercius I would wait, I am close to having something for #172, which should resolve the out of memory issues with larger numbers of thread, fingers crossed.

[2020-11-03 20:13] ercius commented on #171
@cjh1 fingers crossed. I hope this works!

[2020-11-04 23:27] ercius opened #184 "stempy kernels permission denied"
Im working with a new user and tried to get the stempy kernels installed for them on Jupyter@NERSC. We ran the scripts in
/global/project/projectdirs/ncemhub/cjh1/stempy_jupyterlab_kernel.sh

But we are getting two errors:
`Permission denied: Untitled.ipynb`
and
`Launder error: e is not defined`

Is there some permission problem with other users?

[2020-11-04 23:52] ercius commented on #184
this is fixed randomly. It initially did not work, but now it works. Closing.

[2020-11-04 23:52] #184 closed

[2020-11-05 21:13] ercius opened #185 "Memory leak in io.load_electron_counts"
I often will use the same notebook to look through many datasets without restarting the kernel.

I often run `ee = stio.load_electron_counts(fullPath)` and each time I run this the memory increases.

Using `del ee` does not release the memory. Running garbage collection `import gc;gc.collect()` also does not release the memory.

Is there a way to release the memory?

[2020-11-05 22:02] cjh1 commented on #185
@ercius I will take a look, `del ee` should do it.

[2020-11-05 22:10] cjh1 commented on #185
Is it just with the `stio.load_electron_counts(fullPath)` call that you see the memory increase, as in is there anything else going on in the notebook?

[2020-11-06 13:48] cjh1 commented on #185
OK, I can recreate this in a simple notebook, will work out what is going on.

[2020-11-06 18:11] cjh1 commented on #185
So I was able to create a test case without `stempy` that shows the same behavior. It seems the problem only occur with the `vlen` type. I have raised an issue with h5py, we will see if they can shed any light on this, its possible its a bug in h5py.

[2020-11-07 02:41] ercius commented on #185
Thanks for looking into this. Let's see what h5py says.

On Fri, Nov 6, 2020, 10:11 AM Chris Harris <notifications@github.com> wrote:

[2020-11-09 16:07] #181 closed

[2020-11-09 16:17] cjh1 commented on #181
Images haves have been updated with these changes.

[2020-11-10 06:39] ercius commented on #181
Thanks!

On Mon, Nov 9, 2020, 8:17 AM Chris Harris <notifications@github.com> wrote:

[2020-11-29 18:05] ercius opened #188 "write_hdf5 error"
Im getting this error on KNL nodes when trying to convert a raw file into a HDF5 file

We saw this before when counting and it happens when I use the latest image, the debug image and when I try to set the threads to a low number like 15.

Is there a way around this? Its not a common operation but we need to do it sometimes. Thus, it does not have to run super fast, but it would be nice to have wo

[2020-11-29 18:07] ercius commented on #188
We saw this in #171 and it probably has to do with the optimizations we are doing for electron_count.

[2020-11-29 18:08] ercius commented on #188
I forgot to mention that this does not happen in an interactive session. Only for batch nodes. Im not sure why.

[2020-11-30 15:26] cjh1 commented on #188
@ercius Can you try added the following to your submission script:

`export OPENBLAS_NUM_THREADS=256`

[2020-11-30 16:58] ercius commented on #188
That did not work. I still get the error with the same number (272).

[code]

I thought that is was odd that it works in interactive mode. So, I removed the `#SBATCH --image=` and changed the command to `shifter --image=openchemistry/stempy:debug python3 global/project/projectdirs/ncemhub/4Dcamera/4dc_processing/cori/tohdf5.py 53`

That worked. I also removed the `export` line and it still worked.

[2020-11-30 17:10] cjh1 commented on #188
@ercius I think your first batch script is not running in shifter at all, its trying to run in the python installed on cori so will not get very far. I all using the `shifter --image=` form.

[2020-12-01 13:23] cjh1 commented on #188
@ercius I just want confirm that with `shifter --image` version we are not seeing the error? If so I think we can close this off?

[2020-12-01 16:56] ercius commented on #188
@cjh1 Hmmm. I was misreading the examples of how to use shifter in batch scripts. I thought that the `#SBATCH --image` line in the first submission script would load the shifter image and then I would already be "inside" the image. Thus, I just needed to run `python` in the image.

The second script with `shifter --image` worked properly. So, we can close this up.  Thanks!

[2020-12-01 16:56] #188 closed

[2020-12-05 16:18] ercius commented on #180
@cjh1 This can be closed #182

[2020-12-05 16:19] ercius commented on #172
This is fixed via #183

[2020-12-05 16:19] #172 closed

[2020-12-05 16:21] ercius commented on #185
this is tracked in https://github.com/h5py/h5py/issues/1747

[2020-12-07 18:15] #180 closed

[2020-12-07 18:18] cjh1 commented on #157
@psavery I think this can be closed off, given the work you did in #178

[2020-12-07 20:31] psavery commented on #157
@cjh1 Sounds good. Yeah, it is ensuring the `gain` and `darkreference` variables are cast to the right type. We can use that utility function more in the future if more things need to be cast.

[2020-12-07 20:41] cjh1 commented on #157
Fixed in #178

[2020-12-07 20:41] #157 closed

[2021-01-09 18:02] ercius opened #189 "backend option in reader"
The `backend` keyword in io.reader() is not checked for incorrect input. If I set:
`stempy.io.reader(iFiles,stio.FileVersion.VERSION5, backend='nothing')`
the code still runs. Im then unsure which backend is being used.

Need to check backend input for valid options.

[2021-01-09 18:05] ercius opened #190 "Multi-pass"
Tracking development of multi-pass backend for improved counting of 4D Camera data

The code looks through all the data to find where each sector is so it can be read in order. This takes some time but for SSDs (minimal seek time) it will improve the ability to read and count the data in order. This reduces the memory use and seems to speed the process up.

Using a recent 512x512 scan on mothershi

[2021-01-30 18:24] ercius commented on #190
@cjh1 Not sure where we are at with this. Is there an image on Cori that I can use to test the burst buffer and/or using multiple nodes? We are trying to test a workflow to get data to NERSC burst buffer rapidly. It would be interesting to try counting from teh BB then too.

[2021-02-01 14:57] cjh1 commented on #190
@ercius Sorry this is still a development branch. I need to clean it up and add support for multiple scans at a give position, then I was going to look at the parallel version. I will try to clean it up this week. In meantime I have pulled the current development image that you tried out on mothership onto cori so you can try it with BB. The image is `openchemistry/stempy:multi-pass`, don't be sur

[2021-02-09 20:00] ercius commented on #190
I got this working on Cori. A 512x512 was counted in about 5 minutes using the multi-pass algorithm using the burst buffer to read the files.  That is not too bad! It would be great to see what the parallel version can do.

[2021-02-09 20:04] cjh1 commented on #190
@ercius Thanks for running that test, that is a great result. I am working on the parallel version as we speak, I will keep you posted. What scan did you use for that test?

[2021-02-09 23:09] ercius commented on #190
I used scan 126 in ncemhub/4Dcamera/2020.12.07/

[2021-03-08 18:53] ercius opened #201 "Jupyter docker image issue"
I updated the stempy jupyter image just now. It looks like stemy.io and stempy.image can't be imported. I can import stempy.  I am able to load stempy.io and stempy.image in the non-jupyter version.

I will revert to the older version so this is not critical. But it would be good to look at soon.

[2021-03-08 18:58] cjh1 commented on #201
I think this is related to the new wheels, sorry about that. @psavery is going to take a look.

[2021-03-08 21:45] psavery commented on #201
Hi @ercius. Do you mean the [stempy-scipy-notebook image](https://hub.docker.com/r/openchemistry/stempy-scipy-notebook)? I was able to start up a jupyter notebook with it and load the modules.

![Screenshot from 2021-03-08 15-38-32](https://user-images.githubusercontent.com/9558430/110385936-366a1800-8025-11eb-90b5-c42ab9bef59f.png)

Let me know if you are doing something different.

[2021-03-08 21:59] cjh1 commented on #201
@ercius that would correspond to the following image `openchemistry/stempy-scipy-notebook` you would have pulled.

[2021-03-10 17:23] ercius commented on #201
@cjh1 I pulled that image. On mothership6 Im running:
`singularity exec -B /mnt:/mnt,/tmp:/home/jovyan ~/stempy-scipy-notebook_latest.sif jupyter lab`
Then I connect to the Jupyter Lab server.

Then `import stempy` works but `import stempy.io as stio` and `from stempy import io` do not work.

I just re-pulled the image and got a lot of changes. However, I still can not import `stempy.io`.

Here is

[2021-03-10 23:27] psavery commented on #201
@ercius I see, I was able to reproduce this in singularity. I guess this might be a specific problem to singularity. I'll look into it.

[2021-03-11 16:23] cjh1 commented on #201
@ercius This should now be resolved, please try pulling the latest `openchemistry/stempy-scipy-notebook` image.

[2021-03-12 17:15] ercius commented on #201
Fixed! Thanks!

[2021-03-12 17:15] #201 closed

[2021-03-13 01:40] ercius opened #203 "SparseArray updates"
Im starting to use the sparse array class and Ill keep track of some issues I find as I go

1. using negative indexing works except for [-1, -1] to get the last pattern. The error is `ValueError: cannot select an axis to squeeze out which has size not equal to one`
2.  I very often us the ravel() function to make it easy to iterate over a multidimensional array. Can this function be made to return

[2021-03-23 17:50] psavery commented on #203
Hi @ercius, thank you for reporting these issues. I am going to look into them soon, and add a few tests as well for the `SparseArray` so we can have a stronger guarantee of reliability.

[2021-03-25 21:28] ercius commented on #203
Another quick issue possibly relate to 1. above:
5. If I slice outside the size of the array then I get a weird error message:
`ValueError: cannot select an axis to squeeze out which has size not equal to one`
This should be an `IndexError` instead.

[2021-03-25 21:34] ercius commented on #203
Another:
6. If I slice and sum in a way that makes one of the axes singular then I get an error that it needs to expand fully. But the sum should be over the sparse axis and there is no need for expansion
throws error:
`data[0, 0:1, :, :].sum(axis=(0,1))`
`data[0:1, 0:1, :, :].sum(axis=(0,1))`
no error
`data[0:2,0:2,:,:].sum(axis=(0,1))`
`data[0, 0, :, :].sum(axis=(0,1))`

[2021-04-12 21:24] psavery commented on #203
Hi @ercius, I have fixed numbers 1, 3, and 5 in #205, along with a few other issues that I encountered. That PR also adds some fairly thorough testing to make it easier to develop (to ensure nothing breaks when we make changes).

I have a few questions/comments about the other ones:

Sure. I believe the `SparseArray` class should work with a flat scan dimension (for instance, you can reshape `(50,

[2021-04-15 15:58] ercius commented on #203
Yes. I think this function would be very useful. The name is good too.

I think this is a bigger conversation, because it seems to me that the indexing in other stempy functions is backwards from numpy as I show in my example. However, this does show that we need a way to pass a electron counted stempy NamedTuple directly into the sparsearray class and a way to load sparse data from a stempy HDF5

[2021-04-21 21:07] psavery commented on #203
@ercius Sounds good, I have added both of those to #205.

Note that the `ravel_scans()` and `reshape()` functions reshape the array in place (and returns the array), unlike numpy which returns a new view of the array that is reshaped (and the original array's shape is unmodified). This is because we don't have views of SparseArrays like `np.ndarray.view` in numpy.

With #205, you can create a `Spa

[2021-04-22 15:47] ercius commented on #203
Excellent improvements. Thanks!

[2021-04-26 14:46] #203 closed

[2021-04-26 14:46] psavery commented on #203
@ercius This is now merged to master.

[2021-06-15 18:23] ercius opened #207 "NERSC jupyter interactive plotting not working"
The interactive plotting on Jupyter@NERSC is not working anymore. I used to use `%matplotlib widget` at the start of a notebook to get it to work. This might have to do with the upgrade to JupyterLab 3.0.

We might need to update ipywidgets or something else in the Jupyter-notebook kernel and pull it to NERSC to be compatible with JupyterLab 3

[2021-06-15 18:25] ercius commented on #207
The error is:
`Error displaying widget: model not found`

[2021-06-15 20:18] cjh1 commented on #207
@ercius I bumped the one package that seems to be effected by the jupyterlab 3 upgrade. Let me know if that works for you.

[2021-06-16 14:39] ercius commented on #207
perfect. thanks!

[2021-06-16 14:39] #207 closed

[2021-09-02 17:10] ercius opened #208 "Modify sparse data result for scans with multiple positions"
we have the ability to acquire multiple frames per scan position and stempy will count that data. It currently combines all events from the same scan position into one event list in the final sparse data set. See #176.

I would like to change this behavior so that each frame is a separate list and is associated with a scan position. This capability is builtin to the sparse data format but not user

[2021-09-03 18:21] jerenner opened #209 "Memory issues when adding a new function with pybind11"
In attempting to add a new function, callable from Python, similar to `electron_count`, the function gives a segmentation fault on returning an `ElectronCountedData` object if no `py::array_t` objects are included as parameters to that function. However, if one or more `py::array_t` arrays are given as parameters, it seems to work without problems.

The addition of the function follows the general

[2021-09-10 18:47] cjh1 commented on #209
@jerenner Thanks for reporting this, we will take a look.

[2021-09-17 22:49] ercius opened #210 "synchronize names in electron_counts and SparseArray"
`stempy.io.load_electron_counts` returns a named tuple with `frame_dimensions` and `scan_dimensions`

`SparseArray.from_hdf5` returns a class with `frame_shape` and `scan_shape`

These should probably be the same. I think using shape is better because it matches `ndarray.shape`

[2021-09-17 22:51] ercius opened #211 "automatially load SparseArray"
Add this to stempy.io.__init__

`from stempy.sparse_array import SparseArray`

This makes it more accessible

[2021-09-18 00:02] ercius opened #212 "add option to counting"
Can we add an option to electron_count which will bypass the threshold calculation?

It would be great to have keywords for `background_threshold` and `xray_threshold`. These are meant to be the values which are currently determined by the `sigma` inputs with Gaussian fitting.

If the new parameters are input then the Gaussian fitting is skipped and the values are used directly. It would essential

[2021-10-22 19:49] ercius opened #213 "Jupyter kernel missing widgets for interactive plotting"
The jupyter kernel on NERSC needs to be updated for interactive plotting. It is a similar issue to #207 and #134.

[2021-11-01 13:20] #211 closed

[2021-11-03 20:18] ercius opened #219 "Counting from HDF5 file causes kernel to die"
Counting from an HDF5 file does not work. The python kernel just dies.  This is not a common operation, but it should not just fail.

Example code:
[code]

[2021-11-03 20:32] ercius commented on #213
This is still not working.

The default kernel on Jupyter@NERSC has these versions:
[code]
7.6.3
5.3.4
0.8.1
3.3.4

stempy-jupyter has these versions:
7.6.3
5.1.2
0.7.0
3.1.1

I see that the versions were bumped in #215, but my kernel does not reflect that.
`ipykernel==6.4.2 ipympl==0.8.1 matplotlib==3.4.3`

[2021-11-03 21:33] cjh1 commented on #213
The kernel should be called `stempy-jupyterlab`, can you past the contents of: `~/.local/share/jupyter/kernels/stempy-jupyterlab/kernel.json` and/or `~/.local/share/jupyter/kernels/stempy-jupyter/kernel.json`. Looks like you aren't picking up the right shifterimage ...

[2021-11-04 17:44] ercius commented on #213
[code]

Looks like Im getting `stempy-ipykernel` instead. Can I just change the line to:
`"--image=openchemistry/stempy-jupyterlab:latest"`

[2021-11-04 18:20] cjh1 commented on #213
@ercius Don't worry, I can just push to that tag as well, give me a few minutes.

[2021-11-04 18:27] cjh1 commented on #213
@ercius I updated that tag as well ... let me know if it now works for you.

[2021-11-05 17:34] ercius commented on #213
Works for me now. Thanks!

[2021-11-05 17:34] #213 closed

[2021-11-05 17:35] ercius commented on #190
I think this can be closed. Its merged and being used in production now.

[2021-12-08 20:42] cjh1 opened #220 "Allow save_electron_counts(...) to save metadata in hdf5 file"

[2021-12-14 20:52] ercius opened #221 "SparseArray.sum() slower than calculate_sum_sparse"
It looks like the SparseArray() class sum() operator is 2x slower than the stempy.image.calculate_sum_sparse() operation. Can we look into speeding the SparseArray class up to improve performance?

[2021-12-17 18:58] psavery commented on #221
Hi Peter. I believe the reason `SparseArray.sum()` is slower than `calculate_sum_sparse()` is that `SparseArray.sum()` [uses `np.unique()`](https://github.com/OpenChemistry/stempy/blob/4f8ddeb5b089c5ac2d634cb348cee5113df506a3/python/stempy/io/sparse_array.py#L333-L337) so that it can take into account duplicates in the sparse frame, whereas [`calculate_sum_sparse()` does not](https://github.com/Op

[2021-12-30 18:48] ercius commented on #221
@psavery You are right! I thought I had written `stempy.image.calculate_sum_sparse()` to properly take mutiple electrons into account, but its written incorrectly. We only get 1 electron per probe position with `stempy.image.calculate_sum_sparse()` if there were multiple frames acquired. It needs two `for` loops and then its much slower than the `SparseArray` implementation. Ill submit a pull requ

[2021-12-30 18:48] #221 closed

[2021-12-30 18:49] #190 closed

[2022-01-12 22:17] psavery commented on #208
@ercius, could you provide me with a test dataset?

[2022-01-12 22:59] ercius commented on #208
Yes. Try this one:
distiller scan id 505
https://distiller.lbl.gov/scans/505

the counted data is on NERSC in the ncemhub/distiller/distiller/counted/2022.01.04/data_scan5_...

There are 2 frames per position for that scan.

[2022-01-12 23:14] psavery commented on #208
@ercius Is the raw data available for this? I'll need that to test changes to the electron counting methods in stempy.

[2022-01-12 23:57] ercius commented on #208
no...that is deleted. Ill have to take a new data set to be sure we have exactly what you need. Ill take a small data set soon, store the raw data on NERSC, and send you the location.

[2022-01-13 00:11] psavery commented on #208
Sounds great, thank you Peter!

[2022-01-13 18:35] psavery commented on #208
@ercius I'd also like to confirm that I'm giving the `SparseArray` operations the correct behavior for scans with multiple frames per scan position.

I'm going to make up an example. Let's say we have two scan positions and each position has two 2x2 frames. At scan position 0, the sparse arrays are `[0]` and `[0, 2]`, and at scan position 1, the sparse arrays are `[0]` and `[0, 1]`. Can you confir

[2022-01-16 17:55] ercius commented on #208
@psavery This all looks correct to me.

[2022-01-17 23:00] psavery commented on #208
@ercius I've added those examples to the tests that are performed, along with a few others, in #228.

[2022-01-19 19:39] psavery commented on #219
@ercius I gave this script a try just now on an HDF5 dataset that I have here locally (that contains raw data), and it ran without an issue. Can you provide me with the dataset you are using?

[2022-01-20 04:39] ercius commented on #219
Odd. Ill double check I can reproduce. Ill share the dataset if it still happens. Ill get back to you soon.

[2022-01-20 21:43] ercius commented on #219
Ok. I double checked by creating a new HDF5 file from the test scan #212 currently available on the system. The counting worked so my issue must have been something else.

However, if you use `stempy.io.write_hdf5` to create an HDF5 file then you get an error that the `stem/images` HDF5 dataset does not exist. A fix would be to finish #133 , make sure that `stempy.io.write_hdf5` writes the `scan_d

[2022-01-28 23:23] #219 closed

[2022-01-28 23:25] ercius opened #229 "add SparseArray.to_hdf5()"
It would be very useful to be able to save a sparse array to an HDF5 file by `SparseArray.to_hdf5()` properly formatted such that it can be read again with `from_hdf5()`.

Reasons for this are for example cropping or binning data and then saving to disk to load again later.

[2022-01-29 16:33] psavery commented on #229
Hi @ercius,

I believe the [SparseArray.write_to_hdf5()](https://github.com/OpenChemistry/stempy/blob/3d1ad2b8ab9f144eb4bb0e5489646ae2a60720d7/python/stempy/io/sparse_array.py#L146) function does this. In fact, the [save/load electron counts functions](https://github.com/OpenChemistry/stempy/blob/3d1ad2b8ab9f144eb4bb0e5489646ae2a60720d7/python/stempy/io/__init__.py#L158-L177) are calling these fun

[2022-01-29 17:08] ercius commented on #229
This is exactly what I was asking for. Not sure how I missed it. Thanks!

[2022-02-18 05:13] cjh1 commented on #229
@ercius I think we need to push a new version, I don't think they are in a release but @psavery can confirm that. We have made some breaking changes to the API so need to increment the major version, so I was holding off until we have merged a few more PRs.

[2022-02-18 14:12] cjh1 commented on #229
@ercius I pushed a pre release tag for 2.0.0 ( 2.0.0.a1 ). It should include the changes you are after. You can install this version for testing using:

[code]

Once we have merged a few more PR I will cut 2.0.0 and put up some release notes to explain the breaking change.

[2022-02-19 17:21] ercius commented on #229
ok. no problem! Thanks for the pre-release. I can use that until everything is finalized.

[2022-02-19 17:21] #229 closed

[2022-03-02 16:39] #220 closed

[2022-03-02 18:11] #208 closed

[2022-03-07 20:52] cjh1 commented on #212
@ercius Should we implement this, shouldn't bee too hard todo.

[2022-03-07 20:53] cjh1 opened #233 "Looking denoising data before counting"

[2022-03-07 20:53] cjh1 opened #234 "Integrate GPU based counting into main repository"

[2022-03-07 20:58] cjh1 opened #235 "AI based workflows"

[2022-03-07 20:58] cjh1 opened #236 "Disc detection"

[2022-03-08 16:16] ercius commented on #212
Yes, please. I think it would be great to have more fine grained control.

[2022-03-08 16:17] ercius commented on #233
We will need to apply a filter (or general function) to the image before counting. This also could allow for adaptive dark fields and gains to be applied.

[2022-03-08 17:39] ercius opened #237 "Add option to crop "flyback""
The sparse data in the HDF5 file includes the "flyback" in the last column. Add an keyword option to SparseArray.from_hdf5() (default True) to crop the last column which effectively is the same as:
[code]

[2022-03-09 19:49] ercius opened #238 "add version"
add `stempy.__version__` (or similar) for convenience of packaging.

[2022-03-09 21:48] ercius opened #239 "com_sparse does not work with bin_scans"
`SparseArray.bin_scans()` does not change the `SparseArray.data` element. This means that `com_sparse` is unable to work with data that is binned in this way. The algorithm needs to be changed to since center of mass of each pattern is not separable.

[2022-03-09 21:51] ercius commented on #239
- [ ] Change algorithm to work with bin_scans()
- [ ] Test it works with multiple scans per position
- [ ] update input to allow SparseArray() without needing extra keywords

[2022-03-09 21:53] ercius opened #240 "Allow SparseArray input to radial_sum_sparse input"
use SparseArray to automatically fill scan_shape and frame_shape

leave those as keywords for manual use cases and older code.

[2022-03-09 22:23] psavery commented on #239
@ercius Can I update it to take just a sparse array and the `crop_to` argument, or do you want to preserve the other arguments as options?

[2022-03-09 23:45] psavery commented on #239
(Note, if we preserve the other arguments, we will most likely need to add a `scan_positions` argument as well to take into account the scan positions now).

[2022-03-10 18:17] ercius commented on #239
I think that we can just use the SparseArray on second thought. So, you can remove the other arguments.

What will happen to older data in the old format? Will that still work or do we need to use 1.1.0?

[2022-03-10 18:19] ercius commented on #240
Im not sure if we should keep the old options. It is a similar argument to `com_sparse()` as to what to do with sparse data with multiple scans per position in the older format.

[2022-03-10 18:21] ercius commented on #233
I forgot about that. Lets stick with C++ for speed. I have an example filter which we can try out.

There are also ideas about an adaptive dark field, but I need to develop the algorithm and see if its worth implementing. But we would need to allow the function to read and modify the data for pre-counting filters.

[2022-03-10 18:31] psavery commented on #239
So, I think data in the older format will still work as long as there are not multiple frames per scan position.

However, if we do have a bunch of data in the older format with multiple frames per scan position, I'm happy to also write some code to convert it to the new format. It could also be relatively easy to detect as well - we can check to see if there are any duplicate values in any of the

[2022-03-10 20:51] psavery commented on #239
Hi @ercius. I think I have this working, along with a test. But just to confirm, I wanted to provide you my example and the results. It should match the results of using the old format with the previous version of the function.

For a SparseArray of `scan_shape == (2, 1)` and `frame_shape == (2, 2)`, and `scan_positions == (0, 0, 1, 1)`, where the two sparse frames at scan position 0 are `[0]` and

[2022-03-11 01:24] ercius commented on #239
@psavery Yes. That all looks correct to me. A good test of the sparse algorithm is to do the COM in the sparse domain and compare that to the COM calculated from the dense pattern (with many zeros) of those same frames added together. Your example works perfectly!

[2022-03-11 15:28] psavery commented on #239
@ercius I added a test example in that PR as well now that also compares the `com_sparse()` results for real data to `scipy.ndimage.center_of_mass()` results for the fully expanded array.

[2022-03-11 18:29] ercius commented on #239
Nice. Maybe use `stempy.image.com_dense()`?

[2022-03-12 19:50] ercius commented on #239
We do have a lot of that data which might still need to be processed or being processed. If you can test for that then it would be worth converting to the 2.0 type upon reading with SparseArray.from_hdf5(). Or maybe add an option to load as v2.0 or v 1.0? What do you think is best?

Along these lines, we should probably add a version number to the stempy HDF5 hierarchy.

[2022-03-15 01:49] psavery commented on #239
@ercius That all sounds good. I've written up a function that can check if the data is in the v1 format, and another function that can convert the data to the v2 format. I'll add these to the PR soon.

We can start adding a version number to the HDF5 files. If the version number is missing from the HDF5 file, it can run the function to check if the data is in the v1 format. But if the file does co

[2022-03-15 14:42] ercius commented on #239
I think that is a great idea!

[2022-03-15 14:45] ercius opened #243 "SparseArray and other image functions"
create_stem_images crashes the Jupyter kernel for SparseArray input with multiple probes per position. We should check that all functions in 2.0 and make sure they are compatible with the new file structure.

[2022-03-15 15:42] cjh1 commented on #243
@psavery Can you take a look at this?

[2022-03-16 01:32] psavery commented on #239
Okay! I have updated #241 to do just that. And it includes a test too, that converts some real data of the old format to the new format.

[2022-03-16 01:47] psavery commented on #243
I think I see what's going on. @cjh1 let's chat about this when we get a chance.

[2022-03-16 13:33] #239 closed

[2022-03-16 17:55] #238 closed

[2022-03-16 19:35] psavery commented on #243
@ercius I was able to reproduce the crash and fix it in #245. I confirmed as well that I obtained the correct result for my example test.

[2022-03-17 19:35] #126 closed

[2022-03-26 17:34] ercius opened #246 "slicing time increases as row number increases"
I see a strange behavior when Im trying to slice in the sparse domain to operate on all frames at a single scan position while keeping the data as sparse. I want to avoid densifying the data (i.e. `experiment[ii,jj,:,:]`)

Here is the obvious way to do this, but it get slower and slower:
[code]
![Figure 33](https://user-images.githubusercontent.com/15657108/160250715-cf0bc402-5a1f-4c37-8057-6c8f0c

[2022-03-28 13:12] cjh1 commented on #246
@psavery Can you take a look at this?

[2022-03-28 14:46] ercius commented on #246
I looked at the slicing algorithm and I might have a faster way to do it. It would be good to discuss first.

[2022-03-28 15:58] psavery commented on #246
Hi @ercius. I was able to reproduce the issue with a large dataset and large scan positions, where it would take more than a second to perform the sparse slicing. I also narrowed the issue to [these lines of code](https://github.com/OpenChemistry/stempy/blob/afed0150d0444bf420ad57cfb41ff84128ee80ad/python/stempy/io/sparse_array.py#L773-L775). The rest of the function takes microseconds, but that p

[2022-03-28 18:50] psavery commented on #246
@ercius I believe I have a good fix for this in #247. For one example where it took 1.5 seconds to perform the slicing, it now takes 4 microseconds.

If I re-generate your graphs that you have above, they are flat. So I believe this fixes it!

[2022-03-29 21:20] psavery commented on #246
@ercius I actually found two places that needed to be fixed. Let me know if you are still planning to submit a PR, otherwise I can fix them up and submit one.

[2022-03-31 21:23] psavery commented on #246
Hi @ercius. Thank you for sending the notebook! I took a look at it, but I thought that my changes in #248 might be easier to try. The reason is that the `SparseArray` class doesn't explicitly have a notion of whether something is being cropped, strided, indexed, etc. Instead, it takes the `slice()` objects (produced automatically from indexing/slicing the arrays), does a little manipulation (like

[2022-04-01 15:43] psavery commented on #246
@ercius #248 is merged. I gave your notebook example a try with it, and it seemed to work well! I also tried doing a test crop that was very slow previously and it is now extremely fast.

Can you give it a try and let me know how it goes? It is on PyPI now as stempy 2.0.2.

[2022-04-02 15:01] ercius commented on #246
Awesome! Ill give this a try soon and let you know.

[2022-04-11 18:13] ercius commented on #246
I just got to look at this. Running my cropping notebook shows that your fix works perfectly.

[2022-04-11 18:13] #246 closed

[2022-04-11 18:19] psavery commented on #246
@ercius Great, thanks Peter!

[2022-04-11 21:44] ercius opened #250 "SparseArray class variable"
add a class variable to SparseArray to indicate the number of frames per scan position. I think the current way to do this (v3) is to get the `SparseArray.data.shape[1]`

[2022-04-11 22:11] ercius opened #251 "SparseArray v3 looping over each frame"
Im also not that clear on the best way to loop over the sparse data. Maybe you can help me out.

I often want to do something to each frame in the sparse domain and I want to make a new SparseArray out of the result. Here is an example:

[code]

Im trying to shift each electron strike index by a few pixels in each dimension, but I want to do this without making the dense array (i.e. using np.roll)

[2022-04-12 12:52] #250 closed

[2022-04-12 13:13] cjh1 commented on #251
We could probably add some syntax sugar to take care some of the looping over frame, I was thinking about something `iterframes` in a similar vein to `iteritems`.

[2022-04-12 18:21] ercius commented on #240
a potential simplification of this code is to utilize `stempy.image.create_stem_images`. Then we can optimize that code instead.

[code]

[2022-04-13 15:37] ercius commented on #251
I think something like that would be useful.

[2022-04-13 15:40] ercius commented on #251
@psavery These examples are exactly what I was looking for. I tried `zeros_like` but that did not work. `empty_like` is the right way to do it. Thanks!

[2022-04-13 15:40] #251 closed

[2022-04-25 19:59] #240 closed

[2022-07-25 16:01] ercius opened #258 "Add row-dark operation to counting"
Each frame has a global dark (pedestal) subtracted during acquisition. There is a secondary pre-frame dark that can be applied which improves the counting quality. The detector is divided into 2 halves and a series of rows. Here is a quick diagram:
11111 | 11111
22222 | 22222
33333 | 33333
44444 | 44444

A row dark is calculated as the mean (or median) of each row on each side of the split in the

[2022-07-27 13:51] psavery commented on #258
Hi @ercius. For the example above, the `raw_avg0` and `raw_avg1` appear to be identical. Is that supposed to be the case?

[2022-07-27 15:07] ercius commented on #258
Good question. That was not intended. I mostly meant to label rows with their row number rather than putting a value in that row. A better labeling would be (L = left and R = right)
1L 1L 1L 1L 1L | 1R 1R 1R 1R 1R
etc.

And a better labeling of the possible pixel values is:
20 20 20 19 20 | 21 20 20 21 21
etc.

1L's mean is 24.75 and 1R's mean is 26.5. So the row dark is
24.75 24.75 24.75 24.75 24

[2022-07-27 15:17] psavery commented on #258
Thanks @ercius! However, I meant the code example actually. It appears that `raws_avg0` and `raws_avg1` are both equal to `np.mean(frame[:,:],axis=1)`.

[2022-07-27 16:03] ercius commented on #258
That is not right at all. Im not sure how that made it through. Im checking my test code now and will update with the actual code. I can send you a full notebook once I know it runs correctly. Sorry about that!

[2022-07-27 16:04] psavery commented on #258
@ercius Sounds good, thank you!

[2022-07-29 00:30] ercius opened #259 "HDF5 counting"
In v3.1.0 I get this warning using an H5 file to count:
[code]

Here is the code:
[code]
Is there a reason to deprecate this function? Its useful to create an H5 file, process the frames, and then compare the counting. I.e. for #258 and #233

[2022-07-29 00:45] ercius commented on #258
I ran through my code again to verify the code below. Ill send you the full notebook as well. But it should be:
[code]

I also tried using the row `median` but the results were much worse. I think I took care of the datatypes. How hard would it be to add an option for that? Mean works for my test data set, but less sparse data might not work as well.

[2022-07-29 02:12] psavery commented on #259
@cjh1 FYI, it looks like Peter's reader would be a `PyReader` in this case.

[2022-07-29 02:20] psavery commented on #259
If I'm not mistaken, this is calling the older `electronCount()` function that was designed with different logic and assumes there is only one frame per scan (see [here](https://github.com/OpenChemistry/stempy/blob/e1fa9940d021827497b418848aa24f742654ec66/stempy/electron.cpp#L343)). So if your data has more than one frame per scan, it might not work properly.

We should look into fixing this (mayb

[2022-07-30 19:08] ercius commented on #259
I dont think we have any way to indicate in the HDF5 format multiple frames per position. I think we can ignore that possibility since making HDF5's of raw data is not an important or common use case anymore.

I think we should support HDF5 counting, but its not worth a lot of work to implement multiple frames per position. That is only applicable to the 4D Camera which normally uses the other sec

[2022-07-31 02:19] psavery commented on #259
Looks like you are right. I even see in the docs "`frames` - If present, the raw diffractogram data, where the first index is the scan position index for the 2D diffractogram.". So it must only support one frame per scan.

Sounds good.

@cjh1 now we know that the other `electronCount()` method is still in use. We should thus either continue to make sure it works well or start using the new functio

[2022-08-16 00:35] ercius opened #261 "bin_scans does not work when SparseArray num_frames_per_scan > 1"
The logic in `SparseArray.bin_scans` does not work if `num_frames_per_scan` is > 1.

[2022-08-16 01:13] psavery commented on #261
Hmm, so I do have a test running for `bin_scans` with `num_frames_per_scan > 1`. That is [here](https://github.com/OpenChemistry/stempy/blob/e1fa9940d021827497b418848aa24f742654ec66/tests/test_sparse_array.py#L453-L474).

Maybe that test is incorrect, or it doesn't cover the case you are running into?

[2022-08-16 01:53] psavery commented on #261
Oh, nevermind, that one has just one frame per scan before binning. I'll try to come up with another example...

[2022-08-16 02:36] psavery commented on #261
@ercius So, I found an exception that was occurring and I am able to fix it. Now I just need to make sure I come up with a good test case to ensure we are getting the correct result.

[2022-09-02 13:10] #261 closed

[2022-09-03 18:16] ercius opened #265 "Add function to return fully dense ndarray"
Can we add a function to `SparseArray` to return the data as a normal fully dense array? This has been requested by a user to help with compatibility with some `py4dstem` functions. Of course, the user needs enough RAM to hold the full array. I guess `numpy` will give an out of memory error if they dont.

I think the operation would something like:
[code]

[2022-09-09 19:49] psavery commented on #265
@ercius Sounds good. I added a `to_dense()` function in https://github.com/OpenChemistry/stempy/pull/266

[2022-09-15 20:44] #258 closed

[2022-09-15 20:45] #265 closed

[2022-09-27 17:09] ercius opened #267 "question: SparseArray fancy indexing?"
@psavery Is there a way to do fancy indexing in the `SparseArray` class? I want to create a mask of an arbitrary shape and get the summed diffraction pattern from that mask.

ndarray fancy indexing example:
[code]
array([1., 1., 1.])

This throws a value error for a SparseArray though:
[code]

[code]

A `for` loop works but is there a way to do this closer to the fancy indexing version? I see how

[2022-10-01 18:02] psavery commented on #267
Hi @ercius. I think advanced indexing (with integer arrays and boolean arrays) can certainly be possible with the `SparseArray` class, but it would need to be implemented.

Currently, only logic for single element indexing and slicing/striding are supported (this logic is found in the [`_slice_sparse()`](https://github.com/OpenChemistry/stempy/blob/a4327de5cdabae1f9195b6df8252914903e4610b/python/s

[2022-10-11 07:36] ercius commented on #233
Ah yes. Now I remember. That will complicate things. Ill work on the filter
that I have seen published which would be easy to translate into C++ if it
works. If you have other ideas for denoising that would work too. So, maybe
a way to call a C++ function would be the best way forward.

On Tue, Mar 8, 2022 at 9:12 AM Chris Harris ***@***.***>
wrote:

[2022-10-11 07:39] ercius commented on #236
py4DSTEM has a lot of this already. The SparseArray class provides a way to
interoperate between the two which I have tested and works. So, improving
the connection with py4DSTEM and using it for processing is a good way to
go.

On Mon, Mar 7, 2022 at 12:59 PM Chris Harris ***@***.***>
wrote:

[2022-10-17 23:09] ercius opened #268 "com_sparse keyword does nothing"
`com_sparse` has an option to replace NANs with the mean called `replace_nans`. This is True by default; however, the code for replacing the nans does not exist.

Need to implement statement to replace NANs in `com_sparse`

[2022-10-24 14:02] cjh1 opened #270 "Keep track of frames that have missing sectors"
Keep track of frames that have missing sectors and write this information to HDF5 along with the counting data.

[2022-11-11 21:53] ercius commented on #268
fix is in #271

[2022-11-29 18:24] ercius opened #273 "Version not updating"
Im not sure how the stempy.__version__ is supposed to get updated. But I think it always prints out the same thing.
[code]
Can this be fixed?